<header class="notLoggedIn" *ngIf="!authenticated">
  <nav class="navigation">
    <div class="logo"><a routerLink="/home">Serve Up!</a></div>
    <ul>
      <li><a routerLink="/register" routerLinkActive="selected" href="">Registreer</a></li>
      <li><a (click)="srollToTop()" routerLink="/home" routerLinkActive="selected" href="">Login</a></li>
    </ul>
  </nav>
</header>
<header class="loggedIn" *ngIf="authenticated">
  <nav class="navigation">
    <a  (click)="openMobileMenu()" *ngIf="mobile" class="menumobile">
      <i class="fas fa-bars"></i>
    </a>
    <div class="logo"><a href="">Serve Up!</a></div>
    <a class="notification" *ngIf="mobile"><span class="fas fa-bell"></span></a>
    <ul *ngIf="!mobile">
      <li><a routerLink="/">Zoek</a></li>
      <li><a routerLink="projects">Projecten</a></li>
      <li><a routerLink="/">Berichten</a></li>
      <li id="notification"><a class="notification"><span class="fas fa-bell"></span></a></li>
      <li (click)="toggleSubNav()" id="user"><a>
        <span class="userImageThumb" *ngIf="user.picture_thumb"><img src="{{user.picture_thumb}}"/></span>
        <span class="userImageThumb" *ngIf="!user.picture_thumb"><div class="defaultProfile">{{user.fname.charAt(0)}}</div></span>
      </a>
      </li>
    </ul>

    <ul *ngIf="mobile" class="mobileMenu {{mobileMenu}}">
      <a (click)="openMobileMenu()" class="close"><span class="lnr lnr-cross"></span></a>
      <li (click)="showSubnav === 'hideSubnav' ? showSubnav = '' : showSubnav ='hideSubnav'" id="user">
        <a routerLink="/">
        <span class="userImageThumb" *ngIf="user.picture_thumb"><img src="{{user.picture_thumb}}"/></span>
        <span class="userImageThumb" *ngIf="!user.picture_thumb"><div
          class="defaultProfile">{{user.fname.charAt(0)}}</div></span>
        {{user.fname}} {{user.name}}
      </a>
        <div *ngIf="user.role === 'service'" id="selectService">
          <app-service-select [services]="user.service"></app-service-select>
        </div>

      </li>
      <li><a routerLink="profile"><span class="lnr lnr-user"></span>Profiel</a></li>
      <li><a routerLink="/"><span class="lnr lnr-earth"></span>Zoek</a></li>
      <li><a routerLink="projects"><span class="lnr lnr-pushpin"></span>Projecten</a></li>
      <li><a routerLink="/"><span class="lnr lnr-bubble"></span>Berichten</a></li>
      <li><a (click)="logout()"><span class="lnr lnr-exit"></span>Uitloggen</a></li>
    </ul>
  </nav>

  <a *ngIf="mobile" (click)="openMobileMenu()" id="overlayHeader" class="overlay {{mobileMenu}}"></a>

  <div *ngIf="!mobile" class="subnav {{showSubnav}}">
    <div id="userInfo">
      <div id="info">
        <div class="userImageMedium">
          <span class="userImageThumb" *ngIf="user.picture_thumb"><img src="{{user.picture_thumb}}"/></span>
          <span class="userImageThumb" *ngIf="!user.picture_thumb"><div
            class="defaultProfile">{{user.fname.charAt(0)}}</div></span>
        </div>
        <div class="userInfotext">
          <div class="username">{{user.fname}} {{user.name}}</div>
          <div class="email">{{user.email}}</div>
          <div><button class="button" routerLink="profile">Mijn account</button></div>
        </div>
      </div>
    </div>
    <div *ngIf="user.role === 'service'" id="selectService">
      <app-service-select [services]="user.service"></app-service-select>
    </div>
    <div id="links">
      <button class="button btnstyle2" *ngIf="user.role === 'service'">Service toevoegen</button>
      <button class="button btnstyle2" (click)="logout()">Uitloggen</button>
    </div>

  </div>
</header>
