<header class="notLoggedIn" *ngIf="!authenticated">
  <nav class="navigation">
    <div class="logo"><a routerLink="/home">Serve Up!</a></div>
    <ul>
      <li><a routerLink="/register" routerLinkActive="selected" href="">Registreer</a></li>
      <li><a (click)="srollToTop()" routerLink="/home" routerLinkActive="selected" href="">Login</a></li>
    </ul>
  </nav>
</header>
<header class="loggedIn" *ngIf="authenticated">
  <nav class="navigation">
    <a (click)="openMobileMenu()" *ngIf="mobile" class="menumobile">
      <i class="fas fa-bars"></i>
    </a>
    <div class="logo"><a href="">Serve Up!</a></div>
    <a (click)="toggleMessages()" class="notification autoleft" *ngIf="mobile"><span class="icon fas fa-comments"></span><span *ngIf="unreadmsg > 0" class="notiBadge">{{unreadmsg}}</span></a>
    <a (click)="toggleNoti()"  class="notification" *ngIf="mobile"><span class="icon fas fa-bell"></span><span *ngIf="unreadnoti > 0 "  class="notiBadge">{{unreadnoti}}</span></a>

    <ul *ngIf="!mobile">
      <li><a routerLink="/">Zoek</a></li>
      <li><a routerLink="projects">Projecten</a></li>
      <li><a routerLink="calendar">Mijn afspraken</a></li>
      <li  id="notification" (click)="toggleMessages()"> <a class="notification autoleft"><span class="icon fas fa-comments"></span><span *ngIf="unreadmsg > 0" class="notiBadge">{{unreadmsg}}</span></a></li>
      <li (click)="toggleNoti()"><a class="notification"><span class="icon fas fa-bell"></span> <span *ngIf="unreadnoti > 0 " class="notiBadge">{{unreadnoti}}</span></a></li>
      <li (click)="toggleSubNav()" id="user" class="userHeader"><a>
        <span class="userImageThumb" *ngIf="user.picture_thumb"><img src="{{user.picture_thumb}}"/></span>
        <span class="userImageThumb" *ngIf="!user.picture_thumb"><div
          class="defaultProfile">{{user.fname.charAt(0)}}</div></span>
      </a>
      </li>
    </ul>

    <ul *ngIf="mobile" class="mobileMenu {{mobileMenu}}">
      <a (click)="openMobileMenu()" class="close"><span class="lnr lnr-cross"></span></a>
      <li (click)="showSubnav === 'hideSubnav' ? showSubnav = '' : showSubnav ='hideSubnav'" id="user">
        <a routerLink="/">
          <span class="userImageThumb" *ngIf="user.picture_thumb"><img src="{{user.picture_thumb}}"/></span>
          <span class="userImageThumb" *ngIf="!user.picture_thumb"><div
            class="defaultProfile">{{user.fname.charAt(0)}}</div></span>
          {{user.fname}} {{user.name}}
        </a>
        <div *ngIf="user.role === 'service'" id="selectService">
          <app-service-select [services]="user.service"></app-service-select>
        </div>

      </li>
      <li><a routerLink="account"><span class="lnr lnr-user"></span>Profiel</a></li>
      <li><a routerLink="/"><span class="lnr lnr-earth"></span>Zoek</a></li>
      <li><a routerLink="projects"><span class="lnr lnr-pushpin"></span>Projecten</a></li>
      <li><a routerLink="calendar"><span class="lnr lnr-calendar-full"></span>Mijn afspraken</a></li>
      <li><a (click)="logout()"><span class="lnr lnr-exit"></span>Uitloggen</a></li>
    </ul>
  </nav>

  <a *ngIf="mobile" (click)="openMobileMenu()" id="overlayHeader" [class.hidden]="mobileMenu !== 'opened'" class="overlay {{mobileMenu}}"></a>

  <div  (clickOutside)="showSubnav = 'hideSubnav'" [exclude]="'.userHeader'"  *ngIf="!mobile" class="subnav {{showSubnav}}">
    <div id="userInfo">
      <div id="info">
        <div class="userImageMedium">
          <span class="userImageThumb" *ngIf="user.picture_thumb"><img src="{{user.picture_thumb}}"/></span>
          <span class="userImageThumb" *ngIf="!user.picture_thumb"><div
            class="defaultProfile">{{user.fname.charAt(0)}}</div></span>
        </div>
        <div class="userInfotext">
          <div class="username">{{user.fname}} {{user.name}}</div>
          <div class="email">{{user.email}}</div>
          <div>
            <button class="button" routerLink="account">Mijn account</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.role === 'service'" id="selectService">
      <app-service-select [services]="services"></app-service-select>
    </div>
    <div id="links">
      <button class="button btnstyle2" *ngIf="user.role === 'service'">Service toevoegen</button>
      <button class="button btnstyle2" (click)="logout()">Uitloggen</button>
    </div>
  </div>
  <div (clickOutside)="showNoti = 'hideNoti'" [exclude]="'.fa-bell,.notiBadge'" class="subnav noti {{showNoti}}">
    <div *ngIf="unreadnoti > 0">
      <div (click)="markasReadAndRedirect(noti)" class="notificationText" *ngFor="let noti of notifications">
        <div class="user">
          <span class="userImageThumb" *ngIf="noti.data.image"><img src="{{noti.data.image}}"/></span>
          <span class="userImageThumb" *ngIf="!noti.data.image"><div
            class="defaultProfile">{{noti.data.user.charAt(0)}}</div></span>
        </div>
        <div class="notiText" [class.unread]="!noti.read_at">
          <h4>{{noti.data.service}}</h4>
          <div class="notiDescription">
            <div *ngIf="noti.type === NOTIFICATION_TYPES.request">
              Nieuw verzoek van <strong>{{noti.data.user}}</strong>
            </div>
            <div *ngIf="noti.type === NOTIFICATION_TYPES.action">
              <span *ngIf="noti.data.action !== 'hired' && noti.data.action !== 'not_hired'">Heeft je verzoek <strong>{{noti.data.action === 'accepted' ? 'geaccepteerd' : (noti.data.action === 'declined' ? 'geweigerd' : '')}}</strong></span>
              <span *ngIf="noti.data.action === 'hired'"><strong>PROFICIAT</strong> je bent aangenomen door {{noti.data.user}}</span>
              <span *ngIf="noti.data.action === 'not_hired'"><strong>Helaas, </strong> je bent niet aangenomen door {{noti.data.user}}</span>
            </div>
            <div *ngIf="noti.type === NOTIFICATION_TYPES.review">
              <div class="reviewScore">
                <span *ngFor="let rating of ratingvalues; let i=index;" class="fas fa-star" [class.filled]="noti.data.rating >= i+1"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notificationText"  *ngIf="unreadnoti <= 0">
      <div class="notiText">
        <h4>Je hebt geen notificaties...</h4>
        <div class="notiDescription">
          Je ben helemaal up to date!
        </div>
      </div>
    </div>
  </div>

  <div (clickOutside)="showMessages = false" [exclude]="'.fa-comments,.notiBadge'" class="subnav noti messages" [class.closed]="!showMessages">
    <div *ngIf="user.role === 'service'" class="subNavTabs">
      <ul>
        <li (click)="currentSubnavTab = 'personal_messages'" [class.current]="currentSubnavTab === 'personal_messages'">
          Persoonlijk
        </li>
        <li (click)="currentSubnavTab = 'service_messages'" [class.current]="currentSubnavTab === 'service_messages'">
          Service
        </li>
      </ul>
    </div>
    <div class="notificationtextwrap" *ngIf="currentSubnavTab === 'personal_messages' && messages">
      <div *ngFor="let message of messages.personal_messages" (click)="markMessagesAllAsRead('personal_messages')" routerLink="/inbox" [queryParams]="{filter: 'personal'}" class="notificationText {{message.status}}" >
        <div class="user">
          <span class="userImageThumb" *ngIf="message.service.logo">
            <img src="{{message.service.logo}}"/>
          </span>
          <span class="userImageThumb" *ngIf="!message.service.logo">
            <div class="defaultProfile"> <span class="far fa-image"></span></div>
          </span>
        </div>
        <div class="notiText">
          <div class="notiHeader">
            <h4>{{message.service.name}}</h4><span>{{message.latest_message.created_at | timeAgo }}</span>
          </div>

          <div class="notiDescription" [class.unread]="!message.latest_message.read_at && message.latest_message.sender_id !== user.id">
            <p *ngIf="message.latest_message.type !== 'date' && message.latest_message.type !== 'price' && message.latest_message.type !== 'document'">
              {{message.latest_message.message}}
            </p>
            <p *ngIf="message.latest_message.type === 'date'">
              Nieuwe afspraak
            </p>
            <p *ngIf="message.latest_message.type === 'price'">
              Nieuw prijsvoorstel
            </p>
            <p *ngIf="message.latest_message.type === 'document'">
              Nieuwe bijlage(n)
            </p>
          </div>
          <div class="offerStatus">
            <div class="status">
                                       <span *ngIf="message.status === 'awaiting'" class="orange">
           Wachten op antwoord
         </span>
              <span *ngIf="message.status === 'accepted'" class="blue">
           Geaccepteerd
         </span>
              <span *ngIf="message.status === 'hired'" class="green">
           Aangenomen
         </span>
              <span *ngIf="message.status === 'declined'" class="red">
           Geweigerd
         </span>
              <span *ngIf="message.status === 'not_hired'" class="red">
           Niet aangenomen
         </span>
            </div>

            <div class="price_est">€ {{message.price_offer ? message.price_offer : message.service.price_estimate}} / {{message.rate ? message.rate : message.service.rate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div  class="notificationtextwrap" *ngIf="currentSubnavTab === 'service_messages' && messages">
      <div *ngFor="let message of messages.service_messages" (click)="selectServiceAndMarkAsRead(message.service.id)" routerLink="/inbox" [queryParams]="{filter: message.status}" class="notificationText {{message.status}}">
        <div class="user">
          <span class="userImageThumb" *ngIf="message.request.user.picture_thumb">
            <img src="{{message.request.user.picture_thumb}}"/>
          </span>
          <span class="userImageThumb" *ngIf="!message.request.user.picture_thumb">
            <div class="defaultProfile">{{message.request.user.fname.charAt(0)}}</div>
          </span>
        </div>
        <div class="notiText">
          <div class="notiHeader">
            <h4>{{message.request.user.fname + ' ' + message.request.user.name}}</h4><span>{{message.latest_message.created_at | timeAgo }}</span>
          </div>

          <div class="notiDescription" [class.unread]="!message.latest_message.read_at && message.latest_message.sender_id !== user.id">
            <p *ngIf="message.latest_message.type !== 'date' && message.latest_message.type !== 'price' && message.latest_message.type !== 'document'">
              {{message.latest_message.message}}
            </p>
            <p *ngIf="message.latest_message.type === 'date'">
              Nieuwe afspraak
            </p>
            <p *ngIf="message.latest_message.type === 'price'">
              Nieuw prijsvoorstel
            </p>
            <p *ngIf="message.latest_message.type === 'document'">
              Nieuwe bijlage(n)
            </p>
          </div>
          <div class="offerStatus">
            <div class="status">
                                       <span *ngIf="message.status === 'awaiting'" class="orange">
           Wachten op antwoord
         </span>
              <span *ngIf="message.status === 'accepted'" class="blue">
           Geaccepteerd
         </span>
              <span *ngIf="message.status === 'hired'" class="green">
           Aangenomen
         </span>
              <span *ngIf="message.status === 'declined'" class="red">
           Geweigerd
         </span>
              <span *ngIf="message.status === 'not_hired'" class="red">
           Niet aangenomen
         </span>
            </div>

            <div class="price_est">€ {{message.price_offer ? message.price_offer : message.service.price_estimate}} / {{message.rate ? message.rate : message.service.rate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
