@import '../../color';
.navigation{
  display:flex;
  align-items: center;
  height:60px;
  position: fixed;
  top:0;
  z-index: 5;
  width:100%;
  background: #fff;
  @include boxShadowSmall;
  .logo{
    min-width: 150px;
  }
  ul{
    display:flex;
    margin: 0;
    padding:0;
    width:100%;
    li{
      display: block;
      a{
        display: flex;
        align-items: center;
        height:60px;
        font-size: 18px;
        padding:0px 15px;
        color:$titleColor;
        font-weight: 300;
        &:hover, &:focus, &.active{
          text-shadow: 0.5px 0px 0px #555, -0.5px 0px 0px #555;
          text-decoration: none;
        }
      }
    }
  }
}
.notLoggedIn{

  ul{
    width:auto;
    margin-left: auto;
  }
}
#info{
  padding:20px;
  display: flex;
  .userInfotext{
    font-size: 14px;
    button{
      margin-top: 10px;
    }
  }
  .email{
    font-weight: 300;
  }
  .username{
    margin-bottom: 2px;
    font-weight: 700;
  }
}
#selectService{
  background: $backgroundColor;
  border-top: 1px solid $borderColor;
}

#links{
  padding:20px;
  display: flex;
  background: $backgroundColor;
  border-top: 1px solid $borderColor;
  button{
    &:last-child{
      margin-left: auto;
    }
  }
}
.userImageMedium{
  margin-right: 20px;
  .userImageThumb{
    width:70px;
    height:70px;
    .defaultProfile{
      font-size: 35px;
    }
  }
}
.userImageThumb{
  display: inline-block;
  width:40px;
  height:40px;
  border-radius: 50%;
  overflow: hidden;

  .defaultProfile{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    background: #F1F1F1;
    border:2px solid #D9D9D9;
    font-weight: 700;
    color:$textColor;
    border-radius: 50%;
    align-items: center;
  }
  img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
}
.loggedIn{
  .navigation{
    ul{
      justify-content: flex-start;
      flex-direction: row;
      li{
        &#user{
          a:hover{
            text-shadow: none;
          }
          .fas{
            margin-left: 10px;
            font-size: 20px;

          }
        }
        &#notification{
          margin-left: auto;
        }
      }
    }
  }
  .subnav{
    position: fixed;
    display: inline-block;
    width:auto;
    min-width: 320px;
    right:0;
    top:60px;
    background:#fff;
    z-index:4;
    margin: 0;
    padding: 0;
    transform: translateY(0%);
    transition: all 0.2s ease;
    @include boxShadowMedium;
    &.noti{
      max-height: 320px;
      overflow: auto;
    }
    &.hideSubnav, &.hideNoti, &.closed{
      transform: translateY(calc(-100% - 6px));
    }

    .subNavTabs{
      ul{
        display: flex;
        padding: 0;
        align-items: center;
        li{
          padding:7px 0px;
          flex:0 50%;
          overflow: hidden;
          text-overflow: ellipsis;
          color:$textColor;
          text-align: center;
          cursor:pointer;
          background: #fff;
          border-bottom: 1px solid $borderColor;
          &.current{
            color:$blue;
            font-weight: 700;
          }
          &:first-child{
            border-right: 1px solid $borderColor;
          }
        }
      }
    }
    li{
      display: block;
      a {
        display: flex;
        align-items: center;
        height: 60px;
        font-size: 18px;
        padding: 0px 15px;
        color: $titleColor;
        font-weight: 300;
        &:hover, &:focus{
          text-shadow: 0.5px 0px 0px #555, -0.5px 0px 0px #555;
          text-decoration: none;
        }
      }
    }
  }
}
.notification{
  position: relative;
  &:hover{
    text-shadow: none !important;
    text-decoration: none;
  }
  .notiBadge{
    top:10px;
    left:28px;
    right:auto;
  }
  .icon{
    width:25px;
    height:25px;
    font-size: 22px;
    color:$textColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.loggedIn{
  .mobileMenu{
    z-index:6;
    position: fixed;
    max-width: 320px;
    display: block;
    top:0;
    left:-321px;
    background: #fff;
    height:100%;
    transition: all 0.2s ease-out;
    &.opened{
      left:0;
    }
    @include boxShadowMedium;
    li{
      &#user{
        background: $backgroundColor;
        a{
          font-weight: 700;
          &:hover, &:focus{
            text-shadow: none;
          }
          .userImageThumb{
            width:60px;
            margin-bottom: 20px;
            height:60px;
            display: block;
          }
          .fas{
            display: none;
          }
        }
        border-bottom: 1px solid $borderColor;
      }
      a{
        display: block;
        height:auto;
        padding:15px 30px;
        .lnr{
          position: relative;
          top:2px;
          margin-right: 10px;
        }
      }
    }
  }
}
.subnav.messages{
  .notificationtextwrap{
    height: 289px;
    overflow: auto;
    .user{
      height:50px;
    }
    .notiHeader{
      display: flex;

      h4{
        margin: 0;
        font-weight: 700;
        margin-top: 0px;
        font-size: 14px;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        padding-right: 15px;
        text-overflow: ellipsis;
        color:$titleColor;
      }
      span{
        margin-left: auto;
        font-size: 12px;
        white-space: nowrap;
        color:$textColor;
      }
    }
    .notiDescription{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      p{
        white-space: nowrap;
        max-width: 100%;
        padding-right: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        margin-bottom: 2px;
      }
      &.unread{
        font-weight: 700;
        font-style: italic;
      }
    }
    .offerStatus{
      font-weight: 700;
      font-size: 12px;
      margin-top:0px;
      display: flex;
      .price_est{
        margin-left: auto;
        color:$textColor;
      }
    }
  }
  .notificationText{
    .notiText{
      overflow: hidden;
      flex:1 auto;
    }
  }
}
.notificationText{
  padding:10px 20px;
  border-bottom: 1px solid $borderColor;
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 320px;
  &:hover{
    background: $backgroundColor;
  }
  .user{
    margin-right: 15px;
  }
  .notiDescription{
    font-size: 14px;
  }
  .userImageThumb{
    width:50px;
    height:50px;
  }
  h4{
    font-size: 14px;
    color:$orange;
    margin:0;
    margin-bottom: 5px;
  }
}

@media all and (max-width:800px) {
  .navigation{
    padding-right: 10px;
  }
  .menumobile{
    display: inline-block;
    padding:20px;
    color:$textColor;
  }
  .loggedIn{
    .logo{
      position: relative;
      a{

      }
    }
  }
  .notification{
    padding:20px 10px;
    position: relative;
    &.autoleft{
      margin-left: auto;
    }

    .notiBadge{
      top:12px;
      left:23px;
      right:auto;
    }
  }

}
@media all and (max-width: 400px) {
  .navigation {
    .logo {
      font-size: 20px;
    }
  }
}

