<footer>
  <div class="columnWrap">
    <div class="column">
      <div class="logo"><a href="">Serve Up!</a></div>
      <div id="copyRight">
        <p>&copy; 2018 Nick Verstocken</p>
        <p id="privacy"><a href="">Privacy Policy</a>|<a href="">Terms Of Use</a></p>
      </div>
      <div id="social">
        <a id="facebook" href=""><i class="fab fa-facebook-f"></i></a>
        <a id="twitter" href=""><i class="fab fa-twitter"></i></a>
        <a id="pinterest" href=""><i class="fab fa-pinterest-p"></i></a>
        <a id="google" href=""><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
    <div class="column">
      <div class="title">
        Gebruikers
      </div>
      <ul>
        <li><a href="">Hoe werkt het?</a></li>
        <li><a href="">Registreer hulp</a></li>
        <li><a href="">Login hulp</a></li>
      </ul>
    </div>
    <div class="column">
      <div class="title">
        Services
      </div>
      <ul>
        <li><a href="">Hoe werkt het?</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Login hulp</a></li>
      </ul>
    </div>
    <div class="column">
      <div class="title">
        Contact
      </div>
      <ul>
        <li><a href="">Email : Info@serveup.be</a></li>
        <li><a href="">Tel : +324 73 67 02 14</a></li>
        <li><a href="">Login hulp</a></li>
      </ul>
    </div>
  </div>
</footer>
