<div *ngIf="services && services.length > 0" id="{{id}}" class="serviceSelect">
  <div (click)="toggleChooseContainer()" class="serviceItem">
    <div class="serviceLogo"><img *ngIf="services[0].logo" src="{{services[0].logo}}" alt="{{services[0].name}}"/>
      <div *ngIf="!services[0].logo" class="defaultLogo">
        <span class="far fa-image"></span>
      </div>
    </div><div class="serviceName">{{services[0].name}}</div><div *ngIf="services.length > 1" class="caret"><span class="fas fa-caret-down"></span></div>
  </div>
  <div class="chooseContainer" *ngIf="services.length > 1">
    <div  (click)="poptotop(service)" class="serviceItem" *ngFor="let service of services | slice:1">
      <div class="serviceLogo">
        <img *ngIf="service.logo" src="{{service.logo}}" alt="{{service.name}}"/>
        <div *ngIf="!service.logo" class="defaultLogo">
          <span class="far fa-image"></span>
        </div>
      </div><div class="serviceName">{{service.name}}</div>
    </div>
  </div>

</div>
