<div class="chatwrap">
  <div id="messages" class="messageWrap" #scrollMe [scrollTop]="scrollMe.scrollHeight" >
    <div *ngFor="let message of messages">
      <div *ngIf="message.receiver_id=== user.id && message.type !== 'info'"  class="message">
        <div class="userwrap">
          <div class="userPicture">
            <img *ngIf="message.sender.picture_thumb" src="{{message.sender.picture_thumb}}"/>
            <div *ngIf="!message.sender.picture_thumb" class="defaultLogo">
              <span>{{message.sender.fname.charAt(0)}}</span>
            </div>
          </div>

        </div>
        <div class="messageText reveived">
          <div class="timeAgo"><span>{{message.created_at | timeAgo}}</span></div>
          <div class="messageBody">
            <p [innerText]="message.message" *ngIf="message.type === 'request' || message.type === 'message'">
            </p>
          <app-appointment-message (onCancelOwnAppointment)="cancelOwnAppointment($event)"  (onApproveAppointment)="acceptAppointment($event)"  (onCancelAppointment)="cancelAppointment($event)" [creator]="false" [message]="message" *ngIf="message.type === 'date'" ></app-appointment-message>
          </div>

        </div>
      </div>
    <div *ngIf="message.sender_id === user.id && message.type !== 'info'" class="message">
      <div class="messageText send">
        <div class="timeAgo">
          <span *ngIf="!message.updated_at" class="status far fa-clock"></span>
          <span *ngIf="message.updated_at" class="status far fa-check-circle"></span>
          <span>{{message.created_at | timeAgo}}</span></div>
        <div class="messageBody">
          <p [innerText]="message.message" *ngIf="message.type === 'request' || message.type === 'message'">
          </p>
          <app-appointment-message (onCancelOwnAppointment)="cancelOwnAppointment($event)" (onApproveAppointment)="acceptAppointment($event)" (onCancelAppointment)="cancelAppointment($event)" [creator]="true" [message]="message" *ngIf="message.type === 'date'" ></app-appointment-message>
        </div>
      </div>
      <div class="userwrap">
        <div class="userPicture">
          <img *ngIf="message.sender.picture_thumb" src="{{message.sender.picture_thumb}}"/>
          <div *ngIf="!message.sender.picture_thumb" class="defaultLogo">
            <span>{{message.sender.fname.charAt(0)}}</span>
          </div>
        </div>

      </div>
    </div>
      <div *ngIf="message.type === 'info'" class="infomessage">
        <p>
          {{message.message}}
        </p>
      </div>
    </div>
  </div>
  <div class="messageInput">

<!--    <div class="emojis" [hidden]="!showemojis">
      <emoji-mart [backgroundImageFn]="'((set, sheetSize) => `/assets/images/emoji/apple.png`)'" [showPreview]="false" [sheetSize]="32"  [i18n]="{ search: 'Zoek', categories: { search: 'Zoekresultaten', recent: 'Recent' } }" [style]="{ position: 'absolute', bottom: '5px', right: '5px', 'max-width': '320px' }" (emojiClick)="addEmoji($event)"></emoji-mart>
    </div>-->
    <div class="textInput">
      <textarea id="textarea" [(ngModel)]="chatmessage.message" (keydown)="autoGrow($event)" (keyup)="keyupfunction($event)" placeholder="Schrijf een bericht..."></textarea>
      <a class="emoji" (click)="showEmojis()"><span class="far fa-smile"></span></a>
      <button class="button" id="sendMessage"><span class="far fa-paper-plane"></span></button>
    </div>
    <div class="actionbubbles">
      <app-appointmentpicker (sendAppointment)="sendAppointMent($event)" (closeAppointment)="showAppointmentPopup = false" [show]="showAppointmentPopup" ></app-appointmentpicker>
    </div>
   <div class="actionbar">
      <button (click)="showAppointmentPopup = true" class="btnappointment button btnstyle2 btnWithIcon"><span class="fa fa-calendar-alt"></span>Afspraak</button>
     <button class="button btnstyle2 btnWithIcon"><span class="fa fa-euro-sign"></span>Prijsvoorstel</button>
     <button class="button btnstyle2 btnWithIcon"><span class="fa fa-paperclip"></span>Bijlage</button>
   </div>


  </div>
</div>
