@import '../../../color';
.chatwrap{
  width:100%;
  display: flex;
  max-height: 100%;
  flex:1 auto;
  flex-direction: column;
  height:100%;
  background-image: url("/assets/images/chatbg.png");
  background-repeat: no-repeat;
  background-size: cover;

  .messageInput{
    position: relative;
    width:100%;
    line-height: 1;
    #sendMessage{
      position: absolute;
      height:45px;
      width:42px;
      bottom:0;
      border-radius: 0;
      right:0;
    }
    textarea{
      width:calc(100% - 42px);
      border-left:0;
      border-bottom: 0;
      resize: none;
      border-radius: 0;
      line-height: 16px;
      padding:10px 15px;
      height:42px;
      min-height:42px;
      max-height: 100px;
      padding-right: 43px;
      transition: none;
      &:focus{
        border-color:$borderColor;
      }
    }
  }
}
.messageWrap{
  overflow: auto;
  flex:1 auto;
  top:0;
  .message{
    display:flex;
    padding:15px;
    .timeAgo{
      font-size: 12px;
      color:lighten($textColor, 20%);
      line-height: 1;
      vertical-align: top;
      margin-bottom: 10px;
    }
    .messageText{
      &.reveived{
        margin-left: 20px;
        .status{
          margin-left: 3px;
        }
        .messageBody{
          background:$messageBubbleReceived;
          &:after{
            left: -12px;
            border-color: $messageBubbleReceived $messageBubbleReceived transparent  transparent;
          }
        }
      }
      &.send {
        margin-left:auto;
        margin-right: 20px;
        .timeAgo{
          text-align: right;
        }
        .status{
          margin-right: 3px;
        }
        .messageBody{
          background: $messageBubbleSend;
          &:after{
            right: -12px;
            transform: scaleX(-1);
            border-color: $messageBubbleSend $messageBubbleSend  transparent  transparent;
          }
        }
      }
      .messageBody{
        border-radius: $borderRadius;
        position: relative;
        padding:15px;
        font-size: 14px;
        p{
          color:$titleColor;
          font-size: 14px;
          white-space: pre-wrap;
        }

        display:block;
        &:after {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          top:5px;

          border: 7px solid;

        }
      }
    }
  }
  .userwrap{
    display:flex;
    .userPicture{
      img{
        border-radius: 50%;
        width:40px;
        height:40px;
        object-fit: cover;
      }
    }
  }
}
.defaultLogo{
  width:40px;
  height:40px;
}
.emoji{
  position: absolute;
  right:42px;
  width: 42px;
  height:100%;
  font-size: 25px;
  text-align: center;
  span{
    top:50%;
    position: relative;
    transform: translateY(-50%);
  }
}
