<div class="multipleUploadWrap">
  <div *ngFor="let image of images; let i = index" class="imagewrap">
    <div (click)="clickImage(image)" [ngStyle]="options" class="{{edit ? 'innerwrap': ''}}">
      <img
              class="img"
              [src]=image.filepath
              [ngStyle]="options"
              (load)="handleImageLoad()"
              [class.loaded]="imageLoaded"/>
    </div>
  </div>
  <label *ngIf="!edit || images.length <=0" class="uploader" ondragover="return false;"
         [class.loaded]="loaded"
         [ngStyle]="options"
         (mouseenter)="mouseEnter()"
         (mouseleave)="mouseLeave()"
         (dragenter)="handleDragEnter()"
         (dragleave)="handleDragLeave()"
         (drop)="handleDrop($event)">

    <span [class]="dragging ? 'icon fas fa-plus' : 'icon fas fa-image'"></span>

    <input multiple id="fileInput" type="file" name="file" accept="image/x-png,image/jpeg"
           (change)="handleInputChange($event)">
  </label>
</div>
<div class="actions">
  <a (click)="editImages()" class="edit" translate>{{edit ? 'Done' : 'Edit'}}</a>
</div>
