<button *ngIf="mobile" id="overview" (click)="goBack()"><span class="fas fa-arrow-left"></span></button>
<div *ngIf="subcat" id="searchDetailWrap" [style.backgroundImage]="'url(/assets/' + subcat.category.picture + '_bg.jpg)'">
<div *ngIf="!loading" class="contentModal">

  <h1>{{nearbyCount}} {{subcat.plural}} in jouw buurt</h1>
  <div class="modalcenterfixed">
    <h2>Waar, wanneer en wat voor {{subcat.plural}} zoek je?</h2>
    <form [formGroup]="formRequest">
      <div class="currentLocation">
        <a class="currentLocation">Huidige locatie</a>
      </div>
      <app-autofill-cities [id]="'searchCity'" [readonly]="false" [group]="formRequest.controls['city']"></app-autofill-cities>
      <div class="form-group withbutton">
        <input [matDatepicker]="picker" [min]="today" formControlName="due_date" autocomplete="off"  placeholder="Datum" type="text"  (click)="picker.open()">
        <button (click)="picker.open()" class="button"><span class="icon far fa-calendar-alt"></span></button>
        <mat-datepicker [touchUi]="mobile" #picker></mat-datepicker>
      </div>
      <div class="form-group">
        <textarea formControlName="description" [placeholder]="'Geef een zo nauwkeurig mogelijke beschrijving over wat je juist zoekt.'"></textarea>
      </div>

    </form>
    <div id="go">
      <button (click)="sendRequest()" class="button buttonbig">Volgende</button>
    </div>

  </div>
</div>
<div class="contentModal" *ngIf="loading">
  <div class="modalcenterfixed">
    <app-subloader></app-subloader>
  </div>
</div>
</div>
