<div class="inboxWrap">
  <button *ngIf="mobile && !offerlistopened" id="overview" (click)="toggleOfferlist()"><span class="fas fa-arrow-left"></span></button>
  <app-tabs *ngIf="filter" #tabs [current]="filter" (tabClicked)="filterRequests($event)">
    <app-tab name="Persoonlijk" icon="fas fa-rocket" value="personal" [templateRef]="seconRef"></app-tab>
    <app-tab *ngIf="user && user.role === 'service'" name="Verzoeken" icon="fas fa-rocket" value="requests" [templateRef]="firstRef"></app-tab>
    <app-tab *ngIf="user && user.role === 'service'" name="Aanvaard" icon="fas fa-star" value="accepted" [templateRef]="firstRef"></app-tab>
    <app-tab *ngIf="user && user.role === 'service'" name="Ingehuurd" icon="fas fa-check-circle" value="hired"  [templateRef]="firstRef"></app-tab>
  </app-tabs>

  <ng-template #firstRef>
    <div class="requestWrap">
      <div class="requestNavigation" [class.collapse]="!offerlistopened">
        <ul *ngIf="offerList">
          <li *ngFor="let offer of offerList">
            <a (click)="changeSelected(offer)" [class.selected]="selectedOffer && selectedOffer.id == offer.id" [class.isrequest]="offer.accepted == 0">
              <div class="userPicture">
                <img *ngIf="offer.request.user.picture_thumb" src="{{offer.request.user.picture_thumb}}"/>
                <div *ngIf="!offer.request.user.picture_thumb" class="defaultLogo">
                  <span>{{offer.request.user.fname.charAt(0)}}</span>
                </div>
              </div>
              <div class="userInfo">
                <div class="namedate">
                  <div><h3>{{offer.request.user.fname}} {{offer.request.user.name}}</h3></div>
                  <div class="created"><span>{{offer.created_at | timeAgo}}</span></div>
                </div>
                <div class="reqdescription" *ngIf="offer.latest_message">
                  <p *ngIf="offer.latest_message.type !== 'date' && offer.latest_message.type !== 'price' && offer.latest_message.type !== 'document'">
                   {{offer.latest_message.message}}
                  </p>
                  <p *ngIf="offer.latest_message.type === 'date'">
                    Nieuwe afspraak
                  </p>
                  <p *ngIf="offer.latest_message.type === 'price'">
                    Nieuw prijsvoorstel
                  </p>
                  <p *ngIf="offer.latest_message.type === 'document'">
                    Nieuwe bijlage(n)
                  </p>
                </div>
                <div class="offerStatus">
                  <div class="status">
                  </div>
                  <div class="price_est">€ {{offer.price_offer ? offer.price_offer : offer.service.price_estimate}} / {{offer.rate ? offer.rate : offer.service.rate}}</div>
                </div>
              </div>
            </a>
            <div class="actions" *ngIf="offer.accepted == 0">
              <a (click)="updateRequest(offer, 'accept')" class="green"><span class="fas fa-check"></span>Accepteer</a>
              <a (click)="updateRequest(offer, 'decline')" class="red"><span class="fas fa-times"></span>Wijs af</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="chatter">
        <app-chat  [loading]="loadingMessages"
                   *ngIf="selectedOffer"
                   [messages]="messages"
                   [offerId]="selectedOffer.id"
                   (messageReceived)="receivedMessage($event)"
                   [receiver]="selectedOffer.request.user"
                   (messageEditted)="reloadMessages($event)"
                   (appointmentSend)="sendAppointment($event)"
                   (appointmentAction)="actionAppointment($event)"
                   (messageSend)="sendOfferMessage($event)"
                   (priceofferSend)="sendPriceOffer($event)"
                   (priceOfferAction)="actionPriceOffer($event)"
                   (sendFiles)="sendFiles($event)"></app-chat>
        <div class="placeholder" *ngIf="!selectedOffer">
          <div>
              <span class="far fa-comments">

          </span>
          </div>
          <div>
            <h2>Berichten verschijnen hier.</h2>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #seconRef>
    <div class="requestWrap">
      <div class="requestNavigation" [class.collapse]="!offerlistopened">
        <ul *ngIf="offerList">
          <li *ngFor="let offer of offerList">
            <a (click)="changeSelected(offer)" [class.selected]="selectedOffer && selectedOffer.id == offer.id">
              <div class="userPicture">
                <img *ngIf="offer.service.user.picture_thumb" src="{{offer.service.user.picture_thumb}}"/>
                <div *ngIf="!offer.service.user.picture_thumb" class="defaultLogo">
                  <span>{{offer.service.user.fname.charAt(0)}}</span>
                </div>
              </div>
              <div class="userInfo">
                <div class="namedate">
                  <div><h3>{{offer.service.name}}</h3></div>
                  <div class="created"><span>{{offer.created_at | timeAgo}}</span></div>
                </div>
                <div class="reqdescription" *ngIf="offer.latest_message">
                  <p *ngIf="offer.latest_message.type !== 'date' && offer.latest_message.type !== 'price' && offer.latest_message.type !== 'document'">
                    {{offer.latest_message.message}}
                  </p>
                  <p *ngIf="offer.latest_message.type === 'date'">
                    Nieuwe afspraak
                  </p>
                  <p *ngIf="offer.latest_message.type === 'price'">
                    Nieuw prijsvoorstel
                  </p>
                  <p *ngIf="offer.latest_message.type === 'document'">
                    Nieuwe bijlage(n)
                  </p>
                </div>
                <div class="offerStatus">
                  <div class="status">
                                       <span *ngIf="offer.status === 'awaiting'" class="orange">
           Wachten op antwoord
         </span>
                    <span *ngIf="offer.status === 'accepted'" class="green">
           Geaccepteerd
         </span>
                    <span *ngIf="offer.status === 'declined'" class="red">
           Geweigerd
         </span>
                  </div>

                  <div class="price_est">€ {{offer.price_offer ? offer.price_offer : offer.service.price_estimate}} / {{offer.rate ? offer.rate : offer.service.rate}}</div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="chatter">
        <app-chat [disabled]="selectedOffer.status === 'declined'"
                  [loading]="loadingMessages" *ngIf="selectedOffer"
                  [messages]="messages" [offerId]="selectedOffer.id"
                  (messageReceived)="receivedMessage($event)"
                  [receiver]="selectedOffer.service.user"
                  (messageEditted)="reloadMessages($event)"
                  (appointmentSend)="sendAppointment($event)"
                  (appointmentAction)="actionAppointment($event)"
                  (messageSend)="sendOfferMessage($event)"
                  (priceofferSend)="sendPriceOffer($event)"
                  (priceOfferAction)="actionPriceOffer($event)"
                  (sendFiles)="sendFiles($event)"></app-chat>
        <div class="placeholder" *ngIf="!selectedOffer">
          <div>
              <span class="far fa-comments">

          </span>
          </div>
          <div>
            <h2>Berichten verschijnen hier.</h2>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

