@import '../../color';
.inboxWrap{
  margin-bottom: -50px;
  height:calc(100vh - 60px);
  overflow: hidden;
}
ul{
  list-style: none;
  padding:0;
  margin: 0;
  li{
    display: block;
    > a{
      color:$textColor;
      padding:10px;
      display: flex;
      align-items: center;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      &:hover, &.selected, &:focus{
        border-top: 2px solid lighten($borderColor,5%);
        border-bottom: 2px solid lighten($borderColor,5%);
        text-decoration: none;
        background:lighten($borderColor,8%);
      }
      &.isrequest{
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
.reqdescription p{
  white-space: nowrap;
  max-width: 100%;
  padding-right: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.actions{
  text-align: center;
  font-size: 14px;
  border-bottom: 2px solid lighten($borderColor,5%);
  text-decoration: none;
  background:lighten($borderColor,8%);
  padding:10px;
  display: flex;
  a{
    flex:1 auto;
    border:1px solid currentColor;
    padding:5px;
    &:hover{
      text-decoration: none;
    }
    &.red:hover{
      background: $red;
      color:#fff !important;
    }
    &.green:hover{
      background: $green;
      color:#fff !important;
    }
    &:first-child{
      margin-right: 5px;
    }
    .fas{
      margin-right: 5px;
    }
  }
}
.userPicture{
  img{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .defaultLogo{
    width:50px;
    height:50px;
    font-size: 20px;
  }
}
.userInfo{
  padding-left: 10px;
  flex:1 auto;
  overflow: hidden;
  .namedate{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    .created{
      font-size: 12px;
      margin-left: auto;
      white-space: nowrap;
    }
  }
  h3{
    margin: 0;
    font-weight: 400;
    margin-top: 0px;
    font-size: 16px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
  }
}
.requestWrap{
  display: flex;
  height:100%;
}
.requestNavigation{
  flex: 0 0 25%;
  min-width: 320px;
  max-width: 420px;
  height:100%;
  margin-left:0;
  position: relative;
  border-left:1px solid $borderColor;
  transition:all 0.3s ease;
  &.open{

  }
  &.collapse{
    margin-left: -320px;
  }
}
.chatter{
  flex:1 auto;
  height:100%;
  border-left:1px solid $borderColor;
  border-right: 1px solid $borderColor;
}
.placeholder{
  background-image: url("/assets/images/chatbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:darken($borderColor, 7%);
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  span{
    font-size: 15vw;
  }
  h2{
    color:darken($borderColor, 7%);
  }
}
.offerStatus{
  font-weight: 700;
  font-size: 12px;
  margin-top:0px;
  display: flex;
  .price_est{
    margin-left: auto;
  }
}
#overlayProjectDetails{
  &.opened{
    z-index:2;
  }
}
#overview{
  position: absolute;
  background: #fff;
  color:$textColor;
  border:0;
  top:0px;
  left:0px;
  z-index:8;
  margin-left: -1px;
  border-radius: 0;
  width:60px;
  height:60px;
  transition: all 0.2s linear;
  span{
    transition:transform 0.3s ease ;
  }
  &.open{
    left:320px;
    margin-left: -55px;
    span{
      transform: rotate(-540deg);
    }
  }
  &:hover{
    box-shadow: none;
  }
}
@media all and (max-width:680px) {
  .chatter{

    min-width: 100%;
  }
  .requestNavigation{
    background: #fff;
    min-width: 100%;
    &.collapse{
      margin-left: -100%;
    }
  }
}
