<div class="inboxWrap">
  <app-tabs [current]="filter" (tabClicked)="filterRequests($event)">
    <app-tab name="Verzoeken" icon="fas fa-rocket" value="requests" [templateRef]="firstRef"></app-tab>
    <app-tab name="Aanvaard" icon="fas fa-star" value="accepted" [templateRef]="firstRef"></app-tab>
    <app-tab name="Ingehuurd" icon="fas fa-check-circle" value="hired"  [templateRef]="firstRef"></app-tab>
  </app-tabs>
  <ng-template #firstRef>
    <div class="requestWrap">
      <div class="requestNavigation">
        <ul *ngIf="offerList">
          <li *ngFor="let offer of offerList">
            <a (click)="changeSelected(offer)" [class.selected]="selectedOffer && selectedOffer.id == offer.id" [class.isrequest]="offer.accepted == 0">
              <div class="userPicture">
                <img *ngIf="offer.request.user.picture_thumb" src="{{offer.request.user.picture_thumb}}"/>
                <div *ngIf="!offer.request.user.picture_thumb" class="defaultLogo">
                  <span>{{offer.request.user.fname.charAt(0)}}</span>
                </div>
              </div>
              <div class="userInfo">
                <div class="namedate">
                  <div><h3>{{offer.request.user.fname}} {{offer.request.user.name}}</h3></div>
                  <div class="created"><span>{{offer.created_at | timeAgo}}</span></div>
                </div>

                <div class="reqdescription">
                  <p>
                    {{offer.request.description}}
                  </p>
                </div>
              </div>
            </a>
            <div class="actions" *ngIf="offer.accepted == 0">
              <a (click)="updateRequest(offer, 'accept')" class="green"><span class="fas fa-check"></span>Accepteer</a>
              <a (click)="updateRequest(offer, 'decline')" class="red"><span class="fas fa-times"></span>Wijs af</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="chatter">
        <app-chat *ngIf="selectedOffer" [messages]="messages" [receiver]="selectedOffer.request.user" (messageSend)="sendOfferMessage($event)"></app-chat>
        <div class="placeholder" *ngIf="!selectedOffer">
          <div>
              <span class="far fa-comments">

          </span>
          </div>
          <div>
            <h2>Berichten verschijnen hier.</h2>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

