@import '../../color';
.inboxWrap{
  padding-top: 10px;
  margin-bottom: -50px;
  height:calc(100vh - 60px);
  overflow: hidden;
}
ul{
  list-style: none;
  padding:0;
  margin: 0;
  li{
    display: block;
    > a{
      color:$textColor;
      padding:10px;
      display: flex;
      align-items: center;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      &:hover, &.selected, &:focus{
        border-top: 2px solid lighten($borderColor,5%);
        border-bottom: 2px solid lighten($borderColor,5%);
        text-decoration: none;
        background:lighten($borderColor,8%);
      }
      &.isrequest{
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
.reqdescription p{
  white-space: nowrap;
  max-width: 100%;
  padding-right: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.actions{
  text-align: center;
  font-size: 14px;
  border-bottom: 2px solid lighten($borderColor,5%);
  text-decoration: none;
  background:lighten($borderColor,8%);
  padding:10px;
  display: flex;
  a{
    flex:1 auto;
    border:1px solid currentColor;
    padding:5px;
    &:hover{
      text-decoration: none;
    }
    &.red:hover{
      background: $red;
      color:#fff !important;
    }
    &.green:hover{
      background: $green;
      color:#fff !important;
    }
    &:first-child{
      margin-right: 5px;
    }
    .fas{
      margin-right: 5px;
    }
  }
}
.userPicture{
  img{
    width:50px;
    height:50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .defaultLogo{
    width:50px;
    height:50px;
    font-size: 20px;
  }
}
.userInfo{
  padding-left: 10px;
  flex:1 auto;
  overflow: hidden;
  .namedate{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .created{
      font-size: 12px;
      margin-left: auto;
      white-space: nowrap;
    }
  }
  h3{
    margin: 0;
    font-weight: 400;
    margin-top: 0px;
    font-size: 16px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    padding-right: 15px;
    text-overflow: ellipsis;
  }
}
.requestWrap{
  display: flex;
  height:100%;
}
.requestNavigation{
  flex: 0 0 25%;
  min-width: 240px;
  max-width: 420px;
  height:100%;
  border-left:1px solid $borderColor;
}
.chatter{
  flex:1 auto;
  height:100%;
  border-left:1px solid $borderColor;
  border-right: 1px solid $borderColor;
}
.placeholder{
  background-image: url("/assets/images/chatbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color:darken($borderColor, 7%);
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  span{
    font-size: 15vw;
  }
  h2{
    color:darken($borderColor, 7%);
  }
}
