@import '../../color';
.landingItem{
  .landingItemContent{
    max-width: 1024px;
    margin: 0 auto;
    padding:15px;
  }
  h1{
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
}
@media all and (max-width: 800px) {
  .banner{
    .bannerContent{
      .left{
        padding:0;
        width:100%;

        h1{
          font-size: 50px;
          text-align: center;
          margin-bottom: 35px;
        }
      }
      .right{
        margin:0 auto;
        max-width: 400px;
        width:100%;

      }
    }
  }
}
@media all and (max-width: 400px) {
  .banner{

    .bannerContent{
      .left{
        h1{
          font-size: 40px;
        }
      }
    }
  }
}
