@import '../../color';
.landingItem{
  .landingItemContent{
    max-width: 1024px;
    margin: 0 auto;
    padding:15px;
  }
  h1{
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
}

.banner{
  .bannerContent{
    align-items: center;
    justify-content: center;
    h1.logo{
      text-align: center;
      color:$orange;
      font-size: 70px !important;
      text-shadow: 1px 1px #fff;
    }
  }
  button.register{
    margin-top:7px;
  }
  h1{
    font-size: 55px;
    margin-bottom: 15px;
  }
  h2.tagline{
    margin: 0;
    color:#fff;
    text-shadow: 1px 1px $titleColor;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
  }
}
.banner img{
  filter: brightness(40%);
}
.btnstyle2{
  background: #fff;
}
.cta{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  .button{
    min-width: 120px;
    &:first-child{
      margin-right: 15px;
    }
  }
}
@media all and (max-width: 800px) {

  .banner{
    h2.tagline{
      margin-bottom: 25px;
      text-align: center;
    }
  }
}

