<div class="reviewItem">
  <div class="reviewHead">
    <div class="profilePicture">
      <div class="profilePictureImage">
        <img
          src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/12/12/15/Zoe_Sugg.jpg"/>
      </div>
    </div>
    <div class="imageDate">
      <div class="username">
        <h4>Dj Nick Verstocken</h4>
      </div>
      <div class="rate">
        <span>23 maart 2018</span>
      </div>
    </div>
    <div class="reviewScore">
      <span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star half"></span>
    </div>
  </div>
  <div class="reviewBody">
    <p class="reviewText">
      Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.
    </p>
    <a (click)="readMore()">meer</a>
  </div>
</div>
