@import "../../../color";
h2,h3{
  line-height: 1;
  margin: 0;
}
.fixedWrap{
  position: relative;
  width:100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: -50px;
}
.backbtn{
  display: none;
  width:60px;
  height:60px;
  position: absolute;
  top:0px;
  left:0px;
  color:$textColor;
  background: #fff;
  border:0;
  font-size: 16px;
  z-index: 8;
}
.leftSubNav, .rightAsside{
  position: fixed;
  width:25vw;
  z-index: 0;
  max-width: 400px;
  height:calc(100% - 60px);
  border-left:1px solid $borderColor;
  border-right:1px solid $borderColor;
  top:60px;
  display: flex;
  flex-direction: column;
}
.middleFixed{
  position: relative;
  width: 50vw;
  top:0;
  margin:0 auto;
  overflow: auto;

}
h2{
  padding:25px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 2px solid $borderColor;
}
.leftSubNav{
  right:75vw;
  overflow-y: auto;
}
.number{
  margin-left: 5px;
}


.rightAsside{
  left:75vw;
  .priceBlock{
    text-align: center;
    padding:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid $borderColor;
    min-height: 220px;
    .priceBig{
      line-height: 1;
      .price{
        font-size: 60px;
        font-weight: 200;
        .valuta{
          font-size: 35px;
          position: relative;
          top:3px;
          vertical-align: top;
        }
      }
      .rate{
        margin-top:5px;
        margin-bottom: 5px;
      }
    }
    .available{
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .action{
      margin-top: 10px;

    }
  }
  .chatBlock{
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    .chatter{
      display: flex;
      flex:1 auto;
      flex-direction: column;
      position: relative;
    }
    h2{
      display: block;
    }
  }
}
#overlayProjectDetails{
  &.opened{
    z-index:2;
  }
}
#overview, .messagesFloatOpen{
  z-index:4;
  position: fixed;
  background: $backgroundColor;
  color:$titleColor;
  border: 0;
  top:60px;
  left:0;
  display: none;
  width:40px;
  height:40px;
  margin-left: -1px;
  border-radius: 0;
  transition: all 0.2s linear;
  span{
    transition:transform 0.3s ease ;
  }
  &.open{
    left:320px;
    margin-left: -40px;
    span{
      transform: rotate(-540deg);
    }
  }
  &:hover{
    box-shadow: none;
  }
}
.messagesFloatOpen{
  right:5px;
  top:65px;
  left:auto;
  width:50px;
  height:50px;
  font-size: 20px;
  border-radius: 50%;
  background: $blue;
  z-index:2;
  @include boxShadowMedium;
  color:#fff;
  &:hover{
    @include boxShadowMedium;
    background: darken($blue, 5%);
  }
  &.open{
    left:auto;
    margin-left: 0;
    span{
      transform: none;
    }
  }
}
@media all and (max-width: 1200px) {
  .leftSubNav, .rightAsside{
    width:30vw;
  }
  .leftSubNav{
    right: 70vw;
  }
  .rightAsside{
    left:70vw;
  }
  .middleFixed{
    width:40vw;
  }
}
@media all and (max-width: 1024px) {
  #overview{
    display: inline-block;
  }
  .leftSubNav{
    z-index:3;
    left:-320px;
    width:100%;

    transition: all 0.2s linear;
    max-width: 320px;
    background: #fff;
    &.open{
      left:0;
    }
    @include boxShadowMedium;
  }
  .rightAsside{
    width: 40%;
    left:60vw;
  }
  .middleFixed{
    width: 60%;
    left:0;
    margin:0;
  }
}
@media all and (max-width: 800px) {
  .messagesFloatOpen{
    display: inline-block;
  }
  .fixedWrap{
    position: relative;
    width:100%;
    max-width: 1440px;
    height:auto;
    margin: 0 auto;
    margin-bottom: -50px;
  }
  .middleFixed{
    width:100%;
    top:auto;
    height:auto;
  }
  .rightAsside{
    position: fixed;
    height:70px;
    left:0;
    bottom:0;
    max-width: initial;
    background: #fff;
    top:auto;
    width:100%;
    @include boxShadowSmall;
    .priceBlock{
      flex-direction: row;
      align-items: center;
      height: 100%;
      width: 100%;
      text-align: left;
      padding:0;
      margin:0 auto;
      border-bottom:0;
      min-height: initial;
      .priceBigWrap{
        margin-right: 10%;
      }
      .priceBig{
        margin-top: -5px;
        position: relative;
        .price{
          display: inline-block;
          font-size: 25px;
          font-weight: 700;
          .valuta{
            font-size:25px;
            font-weight: 700;
            top:0px;
            vertical-align: top;
          }
        }
        .rate{
          display: inline-block;
          margin-top:0px;
          position: absolute;
          font-size: 12px;
          margin-left: 5px;
          margin-bottom: 5px;
          span{
            vertical-align: top;
          }
        }
      }
      .available{
        margin-top: 0px;
        margin-bottom: 0px;
        p{
          font-size: 12px;
        }
      }
      .action{
        margin-top: 0;
        button{
          min-width: 100px  ;
        }
      }
    }
    .chatBlock{
      position: fixed;
      top:60px;
      left:0;
      right:0;
      bottom:0;
      background: #fff;
      z-index:3;
      transform: translateX(100%);
      transition: all 0.3s ease;
      &.opened{
        display: flex;
        transform: translateX(0%);
        h2{
          position: relative;
          text-align: center;
        }
      }
    }
  }
  .backbtn{
    display: inline-block;
  }
  .middleFixed.chatterOpen{
    z-index: -1;
    height: calc(100vh - 60px);
  }
}
