<div class="fixedWrap">
  <div class="leftSubNav">
    <h2>Jouw Dj's</h2>
    <app-user-price-list></app-user-price-list>

  </div>
  <button id="overview" (click)="toggleUserPriceList()"><span class="fas fa-arrow-right"></span></button>
  <a (click)="closeOverview()" id="overlayProjectDetails" class="overlay"></a>
  <div class="middleFixed">
    <app-profile class="profile"></app-profile>
  </div>
  <div class="rightAsside">
    <div class="priceBlock">
      <div class="priceBigWrap">
        <div class="priceBig">
          <div class="price">
            <span class="valuta">€</span><span class="number">500</span>
          </div>
          <div class="rate">
            <span>Per dag</span>
          </div>
        </div>
        <div class="available">
          <p><span class="far fa-calendar-alt"></span><span class="success">beschikbaar</span> op 15/04/208</p>
        </div>
      </div>
      <div class="action">
        <button class="button buttonbig fullWidth">Huur in</button>
      </div>
    </div>
    <div class="chatBlock">
      <h2>Chat met Nick</h2>
      <app-chat class="chatter"></app-chat>
    </div>
  </div>
</div>

