<div [class.hidden]="!chatterOpen" class="backbtn"><button (click)="closeChatter()" class="backbtn"><span class="fas fa-arrow-left"></span></button></div>
<div class="fixedWrap">
  <div class="leftSubNav">
    <h2>Jouw Dj's</h2>
    <app-user-price-list (changeSelectedOffer)="changeSelected($event)" [currentSelected]="currentSelected" [offerList]="offerlist"></app-user-price-list>

  </div>
  <button  id="overview" [class.hidden]="chatterOpen" (click)="toggleUserPriceList()"><span class="fas fa-arrow-right"></span></button>
  <button [class.open]="mobile" [class.hidden]="chatterOpen" (click)="openChatter()" class="messagesFloatOpen"><span class="far fa-comments"></span></button>
  <a (click)="closeOverview()" id="overlayProjectDetails" [class.hidden]="!pricelistopened"  class="overlay"></a>
  <div [class.chatterOpen]="chatterOpen" class="middleFixed" *ngIf="currentService">
    <app-profile [service]="currentService" [user]="currentService.user" class="profile"></app-profile>
  </div>
  <div class="rightAsside">
    <div class="priceBlock" *ngIf="currentService">
      <div class="priceBigWrap">
        <div class="priceBig">
          <div class="price">
            <span class="valuta">€</span><span class="number">{{currentOffer.price_offer ? currentOffer.price_offer : currentService.price_estimate}}</span>
          </div>
          <div class="rate">
            <span>{{currentOffer.rate ? currentOffer.rate : currentService.rate}}</span>
          </div>
        </div>
      </div>
      <div class="action">
        <button *ngIf="currentOffer.status !== 'hired'" (click)="hireService()" [disabled]="currentOffer.status === 'declined' || currentOffer.status === 'not_hired' || currentOffer.status === 'hired'" [class.disabled]="currentOffer.status === 'declined' || currentOffer.status === 'not_hired' || currentOffer.status === 'hired'" class="button buttonbig fullWidth">Huur in</button>
        <button *ngIf="currentOffer.status == 'hired'" (click)="writeReview()" [disabled]="currentOffer.status !== 'hired'" [class.disabled]="currentOffer.status !== 'hired'" class="button buttonbig fullWidth">Schrijf een review</button>
      </div>
    </div>
    <div [class.opened]="chatterOpen" class="chatBlock" *ngIf="currentService">
      <h2>Chat met {{currentService.user.fname}}</h2>
      <app-chat [disabled]="currentOffer.status === 'declined'"
                [loading]="loading" [offerId]="currentSelected"
                (messageEditted)="reloadMessages($event)"
                (appointmentSend)="sendAppointment($event)"
                (appointmentAction)="actionAppointment($event)"
                (messageSend)="sendMessage($event)"
                (priceofferSend)="sendPriceOffer($event)"
                (priceOfferAction)="actionPriceOffer($event)"
                [receiver]="currentService.user" [messages]="messages" class="chatter"
                (sendFiles)="sendFiles($event)"></app-chat>
    </div>
  </div>
</div>

