
<form class="servicecategory" [formGroup]="formservice">
  <div>
    <div class="formbody">
      <label>Categorie</label>
      <mat-select placeholder="Pokemon" [formControl]="pokemonControl" disableRipple>
        <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name"
                      [disabled]="group.disabled">
          <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
            {{ pokemon.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </div>
    <div class="editactions">
      <button *ngIf="!editting" (click)="editting = true" class="button">Wijzig</button>
      <div *ngIf="editting">
        <button *ngIf="editting" (click)="cancelEdit()" class="button">Annuleer</button>
        <button *ngIf="editting" (click)="save()"  class="button">Wijzig</button>
      </div>
    </div>
  </div>
</form>
