<div id="projectsWrap">
  <div class="heading">
    <h1>Jouw projecten</h1>
    <div class="seperator"></div>
  </div>
  <div class="cardsWrap row">
    <div class="card">
      <div class="cardHead">
        <h2 class="carTitle">DJ</h2>
        <span class="date cardSubtitle">4 Maart 2018</span>
      </div>
      <div class="cardBody">
        <p>
         10 professionals beschikbaar voor uw project.
        </p>
        <div class="userswrap">
          <div class="user">
            <img src="http://www.designskilz.com/random-users/images/imageF48.jpg"/>
            <span class="notiBadge">1</span>
          </div>
          <div class="user">
            <img
              src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/12/12/15/Zoe_Sugg.jpg"/>
            <span class="notiBadge">1</span>
          </div>
          <div class="user">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk4cRIpbXBOSNXp_oMhRftcyEcBJhQm8Gm8q2BSogzXrwjE-67"/>
            <span class="notiBadge">1</span>
          </div>
          <div class="user">
            <img src="http://www.designskilz.com/random-users/images/imageF48.jpg"/>
            <span class="notiBadge">1</span>
          </div>
          <div class="user">
            <img src="http://www.simon-li.com/projects/mongkok/cs2/images/gallery/small/random-user-13.jpg"/>
          </div>
        </div>
      </div>
      <div class="cardActions">
        <a>Wijzig</a>
        <a routerLink="/project/1">Bekijk</a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
