<ul>
  <li>
    <a class="selected">
      <div class="userPicture">
        <img
          src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/12/12/15/Zoe_Sugg.jpg"/>
      </div>
      <div class="userInfo">
        <h3>Dj Nick Verstocken</h3>
        <div class="reviewScore">
          <span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star half"></span>
          <span class="reviewCount">7</span>
        </div>
      </div>
      <div class="userPrice">
        <div class="price">
          <span class="valuta">€</span><span class="number">500</span>
        </div>
        <div class="rate">
          <span>Per dag</span>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a>
      <div class="userPicture">
        <img
          src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/12/12/15/Zoe_Sugg.jpg"/>
      </div>
      <div class="userInfo">
        <h3>Dj Nick Verstocken</h3>
        <div class="reviewScore">
          <span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star half"></span>
          <span class="reviewCount">7</span>
        </div>
      </div>
      <div class="userPrice">
        <div class="price">
          <span class="valuta">€</span><span class="number">500</span>
        </div>
        <div class="rate">
          <span>Per dag</span>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a>
      <div class="userPicture">
        <img
          src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/12/12/15/Zoe_Sugg.jpg"/>
      </div>
      <div class="userInfo">
        <h3>Dj Nick Verstocken</h3>
        <div class="reviewScore">
          <span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star half"></span>
          <span class="reviewCount">7</span>
        </div>
      </div>
      <div class="userPrice">
        <div class="price">
          <span class="valuta">€</span><span class="number">500</span>
        </div>
        <div class="rate">
          <span>Per dag</span>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a>
      <div class="userPicture">
        <img
          src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/12/12/15/Zoe_Sugg.jpg"/>
      </div>
      <div class="userInfo">
        <h3>Dj Nick Verstocken</h3>
        <div class="reviewScore">
          <span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star half"></span>
          <span class="reviewCount">7</span>
        </div>
      </div>
      <div class="userPrice">
        <div class="price">
          <span class="valuta">€</span><span class="number">500</span>
        </div>
        <div class="rate">
          <span>Per dag</span>
        </div>
      </div>
    </a>
  </li>
</ul>
