<ul *ngIf="offerList">
  <li *ngFor="let offer of offerList">
    <a (click)="changeSelected(offer)" [class.selected]="currentSelected == offer.id">
      <div class="userPicture">
        <img *ngIf="offer.service.logo" src="{{offer.service.logo}}"/>
        <div *ngIf="!offer.service.logo" class="defaultLogo">
          <span class="far fa-image"></span>
        </div>
      </div>
      <div class="userInfo">
        <h3>{{offer.service.name}}</h3>
        <div class="reviewScore">
          <span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star half"></span>
          <span class="reviewCount">7</span>
        </div>
        <div class="status {{offer.status}}">
           <span *ngIf="offer.status === 'awaiting'" class="orange">
           Wachten op antwoord
         </span>
          <span *ngIf="offer.status === 'accepted'" class="green">
           Geaccepteerd
         </span>
          <span *ngIf="offer.status === 'hired'" class="green">
           Aangenomen
         </span>
          <span *ngIf="offer.status === 'declined'" class="red">
           Geweigerd
         </span>
          <span *ngIf="offer.status === 'not_hired'" class="red">
           Niet aangenomen
         </span>
        </div>
      </div>
      <div class="userPrice">
        <div class="price">
          <span class="valuta">€</span><span class="number">{{offer.price_offer ? offer.price_offer : offer.service.price_estimate}}</span>
        </div>
        <div class="rate">
          <span>{{offer.rate ? offer.rate : offer.service.rate}}</span>
        </div>
      </div>
    </a>
  </li>
</ul>
