.servicedetail{
  .modalHeader{
    h2{
      margin: 0 !important;
    }
  }
  .contentContainer{
    padding:15px;
  }
  label a{
    float:right;
  }
  .imgUpload{
    width: 100px;
    height:100px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 0px;
    transform: none;
    padding-bottom: 15px;
  }
  .formbody{
    padding:0px 15px;
    margin-bottom: 10px;
  }
  .reviewScore{
    text-align: center;
    margin-top:5px;
    margin-bottom: 15px;
  }

  .servicename{
    h2{
      text-align: center;
      margin-top: 10px !important;
    }
  }
}
.passCard{
  .editactions{
    margin: -15px !important;
    margin-top: 15px !important;
  }
}
.changePassword{
  .button:first-child{
    margin-bottom: 5px;
  }
}
.modal{
  h2{
    margin:0 !important;
  }
}

