@import "../../../color";
.serviceprice{
  app-price-extras{
    width: 100%;
  }
  .formbody{
    padding:15px;
  }
  .priceBig{
    line-height: 1;
    .price{
      font-size: 40px !important;
      font-weight: 200;
      input.notvisible{
        font-size: 40px !important;
        font-weight: 200;
        &.editting{
          background: #fff;
          border:1px solid $borderColor !important;
        }
      }

      .number{
        display: inline-block;
      }
      .valuta{
        font-size: 20px;
        position: relative;
        top:3px;
        vertical-align: top;
      }
    }
    .rate{
      margin-top:5px;
      input.notvisible{
        color:#999;
        &.editting{
          background: #fff;
          border:1px solid $borderColor !important;
        }
      }
    }
  }
  .priceblock{
    padding:15px;
    border-radius: $borderRadius;
    background: $backgroundColor;
    border: 1px solid $borderColor;
    text-align: center;
  }
  .prices_extras{
    max-height: 120px;
    overflow-y: auto;
  }
}
