<form class="serviceprice" [formGroup]="formservice">
  <div>
    <div class="formbody">
      <label>Geschatte prijs</label>
      <div class="priceblock">
        <div class="priceBig">
          <div class="price">
            <span class="valuta"></span><span class="number">
            <span *ngIf="!editting"><span class="valuta">€</span>{{formservice.controls['price_estimate'].value}}</span>
            <input numbermask *ngIf="editting" [class.has-error]="!formservice.controls['price_estimate'].valid && formservice.controls['price_estimate'].touched"
                   formControlName="price_estimate"  class="editable notvisible" [class.editting]="editting" placeholder="Prijs" [readonly]="!editting" >
          </span>
          </div>
          <div class="rate">
            <span>
              <input [class.editting]="editting"  [class.has-error]="!formservice.controls['rate'].valid && formservice.controls['rate'].touched"
                     formControlName="rate"  class="editable notvisible" placeholder="Tarief" [readonly]="!editting" >
            </span>
          </div>
        </div>
      </div>
      <label>Extra's</label>
      <div class="prices_extras" formArrayName="price_extras">
        <div *ngFor="let price_extra of formservice.controls.price_extras.controls; let i=index">
          <div class="inputswrap price" [formGroupName]="i">
            <app-price-extras (onRemovePriceExtra)="removePriceExtra($event)" [index]="i" [group]="formservice.controls.price_extras.controls[i]" [disabled]="!editting"></app-price-extras>
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="!editting" [class.disabled]="!editting" (click)="addPriceExtra()" class="button btnstyle2 fullWidth"><span class="fas fa-plus"></span> Nieuwe prijsextra</button>
      </div>
    </div>
    <div class="editactions" *ngIf="showActions">
      <button *ngIf="!editting" (click)="editting = true" class="button">Wijzig</button>
      <div *ngIf="editting">
        <button *ngIf="editting" (click)="cancelEdit()" class="button">Annuleer</button>
        <button *ngIf="editting" [disabled]="!formservice.valid" (click)="save()"  class="button">Wijzig</button>
      </div>
    </div>
  </div>
</form>
