<div class="banner">
  <img src="../../assets/images/searchBanner.jpg" alt="heroImage">
  <div class="bannerContent centerStacked">
    <div>
      <h1>
        Start nu met je project!
      </h1>
    </div>
    <div>
      <div class="form-group searchbtn">
        <input placeholder="Naar wat ben je op zoek?" (keyup)="search($event)" type="text"/>
        <button class="button btnWithIcon"><span class="fas fa-search"></span>Zoek</button>
      </div>
      <div class="autoFillWrap">
        <div class="autoFill fullWidth">
          <ul>
            <li class="autofillitem" *ngFor="let subcat of searchResult" routerLink="/search/{{subcat.id}}">
              <div class="rightAutoFill">
                <span>{{subcat.name}}</span>
              </div>
              <div class="endAutofill">
                <span>{{subcat.category.name}}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="heading">
    <h1>Ontdek</h1>
    <div class="seperator"></div>
    <div class="smallInfo">
      <small>Ontdek alle categorieën</small>
    </div>
  </div>
  <div class="categoriesWrap">
    <div class="cardsWrap row">
      <div *ngFor="let cat of categories" class="card imagecard">
        <div class="cardHead">
          <img src="{{cat.picture + '.jpg'}}"/>
        </div>
        <div class="cardBody">
          <h2>{{cat.name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
