<div id="signUpWrap">
  <div class="card">
    <h2>{{smallText}}</h2>
    <div id="chooserWrap" *ngIf="choice===''">
      <div class="chooser">
        <div routerLink="/register" [queryParams]="{ as: 'service' }" class="left">
          <h2>Registreer als professional</h2>
          <p>
            Kom in contact met juiste klanten voor jouw service en bouw je klantenbestand uit.
          </p>
        </div>
        <div class="seperatorMiddle">
          <p>
            of
          </p>
        </div>
        <div routerLink="/register" [queryParams]="{ as: 'user' }" class="right">
          <h2>Registreer als klant</h2>
          <p>
            Zoek en vindt direct de juist service voor jouw project en/of doel.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="choice === 'user' || choice === 'service'">
      <form class="servicedetail" [formGroup]="formuser">
        <div class="flex-column">
          <div class="flex-auto">
            <div class="page" *ngIf="page === 1">

              <div class="imgUpload">
                <app-image-uploader #userimgupload [id]="'userimgupld'" (fileload)="userPictureLoad($event)"
                                    [options]="{width: '90px', height: '90px', 'border-radius': '50%', 'border-width' : '2px'}"></app-image-uploader>
              </div>
              <div class="form-group">
                <input autocomplete="off" [class.has-error]="!formuser.controls['fname'].valid && formuser.controls['fname'].touched"
                       formControlName="fname" class="editable" id="fname"
                       placeholder="Voornaam"/>
              </div>
              <div class="form-group">
                <input autocomplete="off" [class.has-error]="!formuser.controls['name'].valid && formuser.controls['name'].touched"
                       formControlName="name" class="editable" id="name" placeholder="Achternaam"/>
              </div>
              <div class="form-group">
                <input autocomplete="off" [class.has-error]="!formuser.controls['email'].valid && formuser.controls['email'].touched"
                       formControlName="email" class="editable" id="email" placeholder="Email"/>
                <div class="has-error">
                  <p *ngIf="formuser.get('email').hasError('emailTaken') && formuser.get('email').touched">
                    Email is al in gebruik...
                  </p>
                </div>
              </div>

              <div class="buttons">
                <button (click)="setpage(2)" class="button"
                [class.disabled]="!formuser.controls['fname'].valid || !formuser.controls['name'].valid || !formuser.controls['email'].valid"
                        [disabled]="!formuser.controls['fname'].valid || !formuser.controls['name'].valid || !formuser.controls['email'].valid"
                >Volgende</button>
              </div>

            </div>
            <div class="page" *ngIf="page === 2">
              <div class="form-group">
                <input autocomplete="off" [class.has-error]="!formuser.controls['address'].valid && formuser.controls['address'].touched"
                       formControlName="address" class="editable" id="service_address" placeholder="Adres"/>
              </div>
              <div class="form-group">
                <div [formGroupName]="'city'">
                  <app-autofill-cities [readonly]="false" [id]="'userCity'"
                                       [group]="formuser.controls['city']"></app-autofill-cities>
                </div>
              </div>
              <div class="form-group">
                <textarea formControlName="introduction" id="introduction" class="editable"
                          placeholder="Stel jezelf kort voor...">
                </textarea>
              </div>
              <div class="buttons">
                <button (click)="setpage(1)" class="button">Vorige</button>
                <button (click)="setpage(3)" class="button"
                        [class.disabled]="!formuser.controls['address'].valid || !formuser.controls['city'].valid"
                        [disabled]="!formuser.controls['address'].valid || !formuser.controls['city'].valid"
                >Volgende</button>
              </div>
            </div>
            <div class="page" *ngIf="page === 3">
              <div class="form-group">
                <input autocomplete="off" [class.has-error]="!formuser.controls['password'].valid && formuser.controls['password'].touched"
                       formControlName="password" validateEqual="password_confirmation" reverse="true" class="editable"
                       type="password" id="password"
                       placeholder="Wachtwoord"/>
                <div class="has-error">
                  <p *ngIf="formuser.get('password').hasError('minlength') && formuser.get('password').touched">
                    Minimuum 6 karakters...
                  </p>
                </div>
              </div>

              <div class="form-group">
                <input autocomplete="off"
                  [class.has-error]="!formuser.controls['password_confirmation'].valid && formuser.controls['password_confirmation'].touched"
                  formControlName="password_confirmation" validateEqual="password" reverse="true" class="editable"
                  id="password_confirmation"
                  placeholder="Herhaal wachtwoord" type="password"/>
              </div>
              <div class="buttons">
                <button (click)="setpage(2)" class="button">Vorige</button>
                <button (click)="register()" class="button"
                        [class.disabled]="!formuser.controls['password'].valid || !formuser.controls['password_confirmation'].valid"
                        [disabled]="!formuser.controls['password'].valid || !formuser.controls['password_confirmation'].valid"
                >Registreer</button>
              </div>

            </div>
            <div class="page" *ngIf="page === 4">
              <div class="info">
                <span class="lnr lnr-smile success"></span>
                <h3>Registratie succesvol! Verifieer gauw je mail en begin direct met ServeUp!</h3>
                <button class="button" routerLink="/home">Ok</button>
              </div>
            </div>
            <div class="page" *ngIf="page === -1">
              <div class="info">
             <span class="lnr lnr-sad error"></span>
                <h3>Er ging iets mis probeer het later opnieuw!</h3>
                <button class="button" routerLink="/home">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>



