@import "../../color";
#serviceProfileWrap{
  max-width: 1024px;
  margin: 0 auto;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  min-height: calc(100vh - 60px);
  margin-bottom: -50px;
}
