<div id="userProfile" *ngIf="user && service">
  <div id="topPart">
    <div class="profileBanner">
      <img src="../../../assets/images/bannertest.jpg"/>
    </div>
    <div class="profilePicture">
      <div class="profilePictureImage">
        <img
          src="https://static.independent.co.uk/s3fs-public/styles/article_small/public/thumbnails/image/2014/12/12/15/Zoe_Sugg.jpg"/>
      </div>
    </div>
    <div class="namereview">
      <h2>{{service.name}}</h2>
      <div class="reviewScore">
        <span class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span
        class="fas fa-star filled"></span><span class="fas fa-star filled"></span><span class="fas fa-star half"></span>
        <span class="reviewCount">7</span>
      </div>
    </div>
  </div>
  <div id="aboutDetails" class="details">
    <div id="about">
      <h2>Over</h2>
      <p id="abouttext">
        {{service.description}}
      </p>
    </div>
  </div>
  <div id="contactDetails" class="details">
    <h2>Contact</h2>
    <div class="listContact">
      <ul >
        <li><span class="fas fa-map-pin"></span><span class="label">Adres </span><span class="text">{{service.address}}, {{service.city.zip}} {{service.city.name}}</span>
        </li>
        <li *ngIf="service.tel"><span class="fas fa-phone-volume"></span><span class="label">Telefoon </span><span class="text">{{service.tel}}</span>
        </li>
        <li><span class="fas fa-trophy"></span><span class="label">Jaar ervaring </span><span class="text">{{service.experience}}</span></li>
        <li *ngIf="service.website"><span class="fas fa-link"></span><span class="label">Website </span><span class="text"><a>{{service.website}}</a></span>
        </li>
        <li><span class="fas fa-share-alt"></span><span class="label">Social media</span><span class="text">
          <a class="social facebook"><span class="fab fa-facebook-f"></span></a>
         <a class="social twitter"><span class="fab fa-twitter"></span></a>
           <a class="social linkedin"><span class="fab fa-linkedin-in"></span></a>
        </span></li>
      </ul>
    </div>
  </div>
  <div id="qandaDetails" class="details">
    <h2>Q&A</h2>
    <div id="qanda">
      <div class="qandaItem">
        <h3><span>Q.</span> Hoe onderscheid jij je van de concurrentie?</h3>
        <span> A. </span>
        <p> Ik probeer van elk evenement een persoonlijke missie te maken zodat iedereen tevreden is!</p>
      </div>
      <div>
        <div class="qandaItem">
          <h3><span>Q.</span> Wat zit er allemaal in de prijs en wat niet?</h3>
          <span> A. </span>
          <p><b>In de prijs :</b> Vervoerskosten, geluidsinstallatie, rookmachine. <br/> <b>Niet in de prijs :</b> Boxen
            (€ 50)</p>
        </div>
        <div class="qandaItem">
          <h3><span>Q.</span> Wat moet er allemaal voorzien zijn op de locatie zelf?</h3>
          <span> A. </span>
          <p>Drank, Eten, Artiestenlounge </p>
        </div>
      </div>
      <div class="viewMore">
        <button class="button">Toon meer</button>
      </div>
    </div>
  </div>
  <div id="reviews" class="details">
    <h2>Reviews</h2>
    <app-reviews></app-reviews>
  </div>
</div>
<div *ngIf="user && !service">
  <h1>Gebruikers profiel</h1>
</div>
