<div id="userProfile" *ngIf="user && service">
  <div id="topPart">
    <div class="profileBanner">
      <img *ngIf="service.banner"
           src="{{service.banner}}" alt="{{service.name + ' banner image'}}"/>
      <img *ngIf="!service.banner" src="assets/images/defaultbanner.png"/>
    </div>
    <div class="profilePicture">
      <div class="profilePictureImage">
        <img *ngIf="service.logo"
          src="{{service.logo}}" alt="{{service.name + ' logo'}}"/>
        <img *ngIf="!service.logo" src="assets/images/defaultProfile.jpg"/>
      </div>
    </div>
    <div class="namereview">
      <h2>{{service.name}}</h2>
      <div class="reviewScore" (click)="srcollToReviews()">
        <span *ngFor="let rating of ratingvalues; let i=index;" class="fas fa-star" [class.filled]="service.rating >= i+1"></span>
        <span class="reviewCount">{{service.number_ratings}}</span>
      </div>
    </div>
  </div>
  <div id="aboutDetails" class="details">
    <div id="about">
      <h2>Over</h2>
      <p id="abouttext">
        {{service.description}}
      </p>
    </div>
  </div>
  <div id="contactDetails" class="details">
    <h2>Contact</h2>
    <div class="listContact">
      <ul >
        <li><span class="fas fa-map-pin"></span><span class="label">Adres </span><span class="text">{{service.address}}, {{service.city.zip}} {{service.city.name}}</span>
        </li>
        <li *ngIf="service.tel"><span class="fas fa-phone-volume"></span><span class="label">Telefoon </span><span class="text">{{service.tel}}</span>
        </li>
        <li><span class="fas fa-trophy"></span><span class="label">Jaar ervaring </span><span class="text">{{service.experience}}</span></li>
        <li *ngIf="service.website"><span class="fas fa-link"></span><span class="label">Website </span><span class="text"><a href="{{service.website}}" rel="noopener noreferrer" target="_blank">{{service.website}}</a></span>
        </li>
        <li><span class="fas fa-share-alt"></span><span class="label">Social media</span><span class="text">
          <a *ngFor="let social of service.social_networks" class="social {{social.name}}" href="{{social.url}}" rel="noopener noreferrer" target="_blank"><span class="fab fa-{{social.name}}{{social.name === 'facebook' ? '-f' : social.name === 'linkedin' ? '-in' : ''}}"></span></a>
        </span></li>
      </ul>
    </div>
  </div>
  <div id="qandaDetails" class="details">
    <h2>Extra info</h2>
    <div id="qanda">
      <div class="qandaItem">
        <h3><span>Q.</span>Wat zit er niet in de prijs?</h3>
        <span> A. </span>
        <p> Ik probeer van elk evenement een persoonlijke missie te maken zodat iedereen tevreden is!</p>
      </div>
      <div class="qandaItem">
        <h3><span>Q.</span>Openingsuren?</h3>
       <app-day-select [disabled]="true" [daysSelected]="service.business_hours"></app-day-select>
      </div>
    </div>
  </div>
  <div id="reviews" class="details">
    <h2>Reviews</h2>
      <app-reviews (loadmore)="loadMore($event)" [reviews]="reviews" [meta]="reviewMeta"></app-reviews>
  </div>
</div>
<div *ngIf="user && !service">
  <div id="topPart" class="usertoppart">

    <div class="profilePicture">
      <div class="profilePictureImage">
        <img *ngIf="user.picture"
             src="{{user.picture}}" alt="{{user.fname + ' profile picture'}}"/>
        <img *ngIf="!user.picture" src="assets/images/defaultProfile.jpg"/>
      </div>
    </div>
    <div class="namereview">
      <h2>{{user.fname}} {{user.name}}</h2>
      <div class="reviewScore" (click)="srcollToReviews()">
        <span *ngFor="let rating of ratingvalues; let i=index;" class="fas fa-star" [class.filled]="user.rating >= i+1"></span>
        <span class="reviewCount">{{user.number_ratings}}</span>
      </div>
    </div>
  </div>
  <div id="aboutDetails" class="details">
    <div id="about">
      <h2>Over</h2>
      <p id="abouttext" *ngIf="user.introduction">
        {{user.introduction}}
      </p>
      <p id="abouttext" *ngIf="!user.introduction">
        Geen introductie beschikbaar...
      </p>
    </div>
  </div>
  <div id="contactDetails" class="details">
    <h2>Contact</h2>
    <div class="listContact">
      <ul>
        <li  *ngIf="user.address"><span class="fas fa-map-pin"></span><span class="label">Adres </span><span class="text">{{user.address}}, {{user.city.zip}} {{user.city.name}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div id="reviews" class="details">
    <h2>Reviews</h2>
    <app-reviews (loadmore)="loadMore($event)" [reviews]="reviews" [meta]="reviewMeta"></app-reviews>
  </div>
</div>
