@import '../node_modules/@angular/material/theming';
@import 'color';
@include mat-core();

$custom-theme-primary: mat-palette($mat-blue);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

.mat-datepicker-content .mat-calendar-body-cell-content{
  border-radius: $borderRadius;
}
.cdk-overlay-pane.mat-datepicker-popup{
  border-radius: $borderRadius;
}
.mat-calendar{
  font-family: $fontFamily;
}
.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label{
  background-color: $blue;
}
.mat-slider-horizontal{
  width:100%;
  height:30px !important;

}
.mat-slider-horizontal .mat-slider-wrapper{
  top:50% !important;
  transform: translateY(-50%) !important;
}
.mat-accent .mat-slider-thumb-label-text{
  color:#fff;
}
.mat-select{
  padding:7px 15px;
  border:1px solid $borderColor;
  border-radius: $borderRadius;

}
.mat-select-disabled{
  background: #F9F9F9;
}
.mat-optgroup-label{
  color:$orange;
}
