@import '../node_modules/@angular/material/theming';
@import 'color';
@include mat-core();

$custom-theme-primary: mat-palette($mat-blue);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

.mat-datepicker-content .mat-calendar-body-cell-content{
  border-radius: $borderRadius;
}
.cdk-overlay-pane.mat-datepicker-popup{
  border-radius: $borderRadius;
}
.mat-calendar{
  font-family: $fontFamily;
}
