@import '../../../../color';
.tag{
  position: relative;
  height: 25px;
  background: $textColor;
  color:#fff;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: $borderRadius;
  display: flex;
  cursor: pointer;
  align-items: center;
  span{
    margin-left: 7px;
    display: block;
    margin-right: 7px;
  }
}
.fas{
  margin-left: auto;
}
