<div *ngIf="user"  id="accountWrap">
  <div class="columnLayout">
    <div class="left">
      <form [formGroup]="formuser">
      <div class="usercard">
        <div class="userblock">
        <div *ngIf="cardEdit !== 'formuser'" class="actions">
          <a (click)="cardEdit = 'formuser'"><span class="fa fa-pencil-alt"></span></a>
        </div>
        <div class="imgUpload">
          <app-image-uploader #userimgupload [id]="'userimgupld'" (fileload)="userPictureLoad($event)"
                              [disabled]="cardEdit !== 'formuser'" [image]="user.picture"
                              [options]="{width: '100px', height: '100px', 'border-radius': '50%', 'border-width' : '2px'}"></app-image-uploader>
        </div>

        <!-- EDIT TEMPLATE -->
        <div class="username edit" *ngIf="cardEdit === 'formuser'">
          <input [class.has-error]="!formuser.controls['fname'].valid && formuser.controls['fname'].touched"
                 formControlName="fname" class="editable" value="Nick" id="fname"
                 placeholder="Voornaam"/>
          <input [class.has-error]="!formuser.controls['name'].valid && formuser.controls['name'].touched"
                 formControlName="name" class="editable" id="name" placeholder="Achternaam"/>
          <input [class.has-error]="!formuser.controls['email'].valid && formuser.controls['email'].touched"
                 formControlName="email" class="editable" readonly id="email" placeholder="Email"/>
          <input [class.has-error]="!formuser.controls['address'].valid && formuser.controls['address'].touched"
                 formControlName="address" class="editable" id="address" placeholder="Adres"/>
          <div class="autofill" [formGroupName]="'city'">
            <app-autofill-cities [id]="'userCity'" [readonly]="false" [group]="formuser.controls['city']"></app-autofill-cities>
          </div>

          <textarea formControlName="introduction" id="introduction" class="editable"
                    placeholder="Stel jezelf kort voor..."></textarea>
          <div class="editactions">
            <button (click)="cancelEditMode('formuser', 'user')" class="button">Annuleer</button>
            <button [disabled]="!formuser.valid" (click)="saveUser('formuser')" type="submit" class="button">Opslaan
            </button>
          </div>
        </div>
        <!-- END EDIT TEMPLATE -->

        <div class="username" *ngIf="cardEdit !== 'formuser'">
          <h1>{{formuser.controls.fname.value}} {{formuser.controls.name.value}}</h1>
          <div class="place">
            <small>{{formuser.controls.city.controls.zip.value}}, {{formuser.controls.city.controls.name.value}}</small>
          </div>
          <div class="bio">
            <h3>Over mezelf</h3>
            <p *ngIf="formuser.controls.introduction.value">{{formuser.controls.introduction.value}}</p>
            <p *ngIf="!formuser.controls.introduction.value">Je hebt niets te zeggen...</p>
          </div>
        </div>
        </div>
        <div class="serviceSelectWrap">
          <div class="serviceSelectProfile">
            <app-service-select (selectedService)="setService($event)" [id]="'selectserviceprofile'" [services]="services"></app-service-select>
          </div>
        </div>
      </div>
      </form>


      <div class="submenuprofile">
        <ul>
          <li class="current">
            <a>Service instellingen</a>
          </li>
          <li>
            <a>Persoonlijke instellingen</a>
          </li>
          <li>
            <a>Service profiel</a>
          </li>
          <li>
            <a>Persoonlijk profiel</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="right">
      <div class="card details row-span-2">
        <app-service-details class="componentwrap" [formservice]="formService" [service]="selectedService" (saveService)="saveService()"></app-service-details>
      </div>
      <div class="card description col-span-2">
        <app-service-description class="componentwrap" [formservice]="formService" [service]="selectedService" (saveService)="saveService()"></app-service-description>
      </div>
      <div class="card">
        <app-service-travel class="componentwrap" #serviceTravel [service]="selectedService" [formservice]="formService" (saveService)="saveService()"></app-service-travel>
      </div>
      <div class="card">
        <app-service-business-hours class="componentwrap" [service]="selectedService" [formservice]="formService" (saveService)="saveService()"></app-service-business-hours>
      </div>

      <div class="card">
       <app-service-price #servicePrice class="componentwrap" [service]="selectedService" [formservice]="formService" (saveService)="saveService()"></app-service-price>
      </div>

      <div class="card">
        <h3>social media</h3>
      </div>
    </div>
  </div>
</div>
