<div class="daySelectWrap" [class.disabled]="disabled">
  <div class="days">
    <div *ngFor="let day of daysOfWeek" class="day" id="{{day}}">
      <p>{{day}}</p>
      <div (click)="addOrRemoveDay(day)" class="daySelect {{daysSelected ? daysSelected.days.includes(day) ? 'selected' : '' : ''}}">
        <div *ngIf="daysSelected">
          <span *ngIf="!daysSelected['days'].includes(day)" class="fas fa-times"></span>
          <span *ngIf="daysSelected['days'].includes(day)" class="fas fa-check"></span>
        </div>
        <div *ngIf="!daysSelected">
          <span class="fas fa-times"></span>

        </div>
      </div>
    </div>
  </div>
  <div class="time">
    <div>
      <p>Tussen</p>
    </div>
    <div class="timewrap">
      <div class="selectwrap">
        <select [disabled]="disabled" [(ngModel)]="daysSelected.begin">
          <option [value]="'begin'" >Begin</option>
          <option [value]="time.value"  *ngFor="let time of timeoptions">
            {{time.name}}
          </option>
        </select>
        <span> - </span>
        <select [disabled]="disabled" [(ngModel)]="daysSelected.end">
          <option [value]="'einde'" >Einde</option>
          <option [value]="time.value"  *ngFor="let time of timeoptions">
            {{time.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
