<div class="daySelectWrap">
  <div class="days">
    <div *ngFor="let day of daysOfWeek" class="day" id="{{day}}">
      <p>{{day}}</p>
      <div (click)="addOrRemoveDay(day)" class="daySelect {{daysSelected.days.includes(day) ? 'selected' : ''}}">
        <span *ngIf="!daysSelected['days'].includes(day)" class="fas fa-times"></span>
        <span *ngIf="daysSelected['days'].includes(day)" class="fas fa-check"></span>
      </div>
    </div>
  </div>
  <div class="time">
    <div>
      <p>Tussen</p>
    </div>
    <div class="timewrap">
      <div class="selectwrap">
        <app-select class="select" [placeHolder]="'Begin'" [options]="timeoptions"></app-select>
        <span> - </span>
        <app-select class="select" [placeHolder]="'Einde'" [options]="timeoptions"></app-select>
      </div>
    </div>
  </div>
</div>
