<div *ngIf="user" id="userProfileWrap">
  <div class="profileEdit">
    <div *ngIf="user.role === 'service'" class="heading">
      <app-service-select [id]="'settingsServiceSelect'" [services]="user.service"
                          (selectedService)="setService($event)"></app-service-select>
      <div class="addService" *ngIf="user.service.length <= 0">
        <button class="fullWidth btnstyle2">Service toevoegen</button>
      </div>
    </div>
    <div *ngIf="user.role !== 'service'">
      <h2>Instellingen</h2>
    </div>
    <div class="accordionWrap">
      <ul class="accordion">
        <li id="liac1">
          <div class="acHead" (click)="toggleAccOpened('ac1')">
            <span class="acIcon fas fa-user"></span><span>Persoonlijke info</span>
          </div>
          <div class="acBody" id="ac1">
            <div class="has-error">
              <div *ngIf="responseError['ac1']">
                <p [innerHTML]="responseError['ac1']">

                </p>
              </div>
              <div *ngIf="formAc1.controls['email'].errors && formAc1.controls['email'].errors.emailTaken">
                <p>
                  Deze email bestaat al!
                </p>
              </div>
            </div>
            <form [formGroup]="formAc1">
              <div class="uploadGroup">
                <div class="imgUpload">
                  <app-image-uploader #userimgupload [id]="'userimgupld'" (fileload)="userPictureLoad($event)"
                                      [disabled]="disallowUpload" [image]="user.picture"
                                      [options]="{width: '60px', height: '60px', 'border-radius': '50%'}"></app-image-uploader>
                </div>
                <div class="groupLast">
                  <input [class.has-error]="!formAc1.controls['fname'].valid && formAc1.controls['fname'].touched"
                         formControlName="fname" class="editable disabled" readonly value="Nick" id="fname"
                         placeholder="Voornaam"/>
                  <input [class.has-error]="!formAc1.controls['name'].valid && formAc1.controls['name'].touched"
                         formControlName="name" class="editable disabled" readonly id="name" placeholder="Achternaam"/>
                </div>
              </div>
              <input [class.has-error]="!formAc1.controls['email'].valid && formAc1.controls['email'].touched"
                     formControlName="email" class="editable disabled" readonly id="email" placeholder="Email"/>
              <input [class.has-error]="!formAc1.controls['address'].valid && formAc1.controls['address'].touched"
                     formControlName="address" class="editable disabled" readonly id="address" placeholder="Adres"/>
              <div [formGroupName]="'city'">
                <app-autofill-cities [id]="'userCity'" [readonly]="!editting" [group]="formAc1.controls['city']"></app-autofill-cities>
              </div>

              <textarea formControlName="introduction" id="introduction" class="editable disabled" readonly
                        placeholder="Stel jezelf kort voor..."></textarea>
              <div class="actions">
                <div class="edit">
                  <button (click)="editMode('ac1')" class="button">Wijzig</button>
                </div>
                <div class="editting">
                  <button (click)="cancelEditMode('ac1')" class="button">Annuleer</button>
                  <button [disabled]="!formAc1.valid" (click)="saveUser('ac1')" type="submit" class="button">Opslaan
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li id="liac2">
          <div class="acHead" (click)="toggleAccOpened('ac2')">
            <span class="acIcon fas fa-key"></span><span>Wijzig wachtwoord</span>
          </div>
          <div class="acBody" id="ac2">

            <div class="has-error">
              <div *ngIf="responseError['ac2']">
                <p [innerHTML]="responseError['ac2']">

                </p>
              </div>
              <div
                *ngIf="(!formAc2.controls['password'].valid && formAc2.controls['password'].touched && formAc2.controls['password'].hasError('minlength'))||(!formAc2.controls['new_password'].valid && formAc2.controls['new_password'].touched && formAc2.controls['new_password'].hasError('minlength'))||(!formAc2.controls['new_password_confirmation'].valid && formAc2.controls['new_password_confirmation'].touched && formAc2.controls['new_password_confirmation'].hasError('minlength'))">
                <p>
                  Wachtwoord moet minimuum 6 karakters hebben
                </p>
              </div>

            </div>
            <form [formGroup]="formAc2">
              <input [class.has-error]="!formAc2.controls['password'].valid && formAc2.controls['password'].touched"
                     formControlName="password" class="editable disabled" readonly type="password" id="oldpass"
                     placeholder="Huidig wachtwoord"/>
              <input
                [class.has-error]="!formAc2.controls['new_password'].valid && formAc2.controls['new_password'].touched"
                formControlName="new_password" class="editable disabled" readonly id="newpass"
                placeholder="Nieuw wachtwoord" type="password"/>
              <input
                [class.has-error]="!formAc2.controls['new_password_confirmation'].valid && formAc2.controls['new_password_confirmation'].touched"
                formControlName="new_password_confirmation" class="editable disabled" readonly id="newpassconfirm"
                placeholder="Herhaal nieuw wachtwoord" type="password"/>
            </form>
            <div class="actions">
              <div class="edit">
                <button (click)="editMode('ac2')" class="button">Wijzig</button>
              </div>
              <div class="editting">
                <button (click)="cancelEditMode('ac2')" class="button">Annuleer</button>
                <button [disabled]="!formAc2.valid"  class="button" (click)="changePassword('ac2')">Wijzig wachtwoord</button>
              </div>
            </div>
          </div>
        </li>
        <li id="liac3" *ngIf="user.role === 'service' && user.service.length > 0">
          <div class="acHead" (click)="toggleAccOpened('ac3')">
            <span class="acIcon fas fa-info-circle"></span><span>Service beschrijving</span>
          </div>
          <div class="acBody" id="ac3">
            <div class="has-error">
              <div *ngIf="responseError['ac3']">
                <p [innerHTML]="responseError['ac3']">

                </p>
              </div>
            </div>
            <form [formGroup]="formAc3">
              <div class="uploadGroup">
                <div class="imgUpload">
                  <app-image-uploader (fileload)="serviceLogoUploaded($event)" [id]="'serviceLogoUpLoad'" #serviceLogoUpload [disabled]="disallowUpload" [image]="selectedService.logo"
                                      [options]="{width: '60px', height: '60px', 'border-radius': '50%'}"></app-image-uploader>
                </div>
                <div class="groupLast">
                  <input [class.has-error]="!formAc3.controls['name'].valid && formAc3.controls['name'].touched"
                         formControlName="name" class="editable disabled" readonly id="service_name" placeholder="Service naam"/>
                  <button (click)="showMedia = true" class="button fullWidth btnstyle2">Kies media</button>
                </div>
              </div>
              <textarea [class.has-error]="!formAc3.controls['description'].valid && formAc3.controls['description'].touched"
                        formControlName="description" spellcheck="false" class="editable disabled" readonly id="description"
                        placeholder="Geef zoveel mogelijk info over u en je service"></textarea>
            </form>

            <div class="actions">
              <div class="edit">
                <button (click)="editMode('ac3')" class="button">Wijzig</button>
              </div>
              <div class="editting">
                <button (click)="cancelEditMode('ac3')" class="button">Annuleer</button>
                <button [disabled]="!formAc3.valid" (click)="saveService('ac3')" class="button">Opslaan</button>
              </div>
            </div>
          </div>
        </li>
        <li id="liac4" *ngIf="user.role === 'service' && user.service.length > 0">
          <div class="acHead" (click)="toggleAccOpened('ac4')">
            <span class="acIcon fas fa-address-book"></span><span>Service contact</span>
          </div>
          <div class="acBody" id="ac4">
            <div class="has-error">
              <div *ngIf="responseError['ac4']">
                <p [innerHTML]="responseError['ac4']">

                </p>
              </div>
            </div>
            <form [formGroup]="formAc4">
            <input [class.has-error]="!formAc4.controls['address'].valid && formAc4.controls['address'].touched"
                   formControlName="address"  class="editable disabled" readonly id="service_address" placeholder="Adres"/>

              <div [formGroupName]="'city'">
                <app-autofill-cities [id]="'serviceCity'" [readonly]="!editting" [group]="formAc4.controls['city']"></app-autofill-cities>
              </div>

            <input [class.has-error]="!formAc4.controls['tel']?.valid && formAc4.controls['tel']?.touched"
                   formControlName="tel" class="editable disabled" readonly id="service_tel" placeholder="Telefoon"/>
            <input [class.has-error]="!formAc4.controls['experience']?.valid && formAc4.controls['experience']?.touched"
                   formControlName="experience"  class="editable disabled" readonly type="number" id="service_experience"
                   placeholder="Jaar ervaring"/>
            <input [class.has-error]="!formAc4.controls['website']?.valid && formAc4.controls['website']?.touched"
                   formControlName="website" class="editable disabled" readonly id="service_website" placeholder="Website"/>
            </form>
            <div class="actions">
              <div class="edit">
                <button (click)="editMode('ac4')" class="button">Wijzig</button>
              </div>
              <div class="editting">
                <button (click)="cancelEditMode('ac4')" class="button">Annuleer</button>
                <button [disabled]="!formAc4.valid" (click)="saveService('ac4')" class="button">Opslaan</button>
              </div>
            </div>
          </div>
        </li>
        <li id="liac5" *ngIf="user.role === 'service' && user.service.length > 0">
          <div class="acHead" (click)="toggleAccOpened('ac5')">
            <span class="acIcon fas fas fa-clock"></span><span>Service werkdagen</span>
          </div>
          <div class="acBody" id="ac5">
            <div class="has-error">
              <div *ngIf="responseError['ac5']">
                <p [innerHTML]="responseError['ac5']">

                </p>
              </div>
            </div>
            <form [formGroup]="formAc5">
            <app-day-select [daysSelected]="formAc5.controls['business_hours'].value" (selectedDaysTime)="changeBusinessHours($event)"></app-day-select>
            </form>
            <div class="actions">
              <div class="edit">
                <button (click)="cancelEditMode('ac5')" class="button">Annuleer</button>
                <button (click)="saveService('ac5')" class="button">Opslaan</button>
              </div>
            </div>
          </div>
        </li>
        <li id="liac6" *ngIf="user.role === 'service' && user.service.length > 0">
          <div class="acHead" (click)="toggleAccOpened('ac6')">
            <span class="acIcon fas fa-road"></span><span>Reisvoorkeuren</span>
          </div>
          <div class="acBody" id="ac6">
            <div class="has-error">
              <div *ngIf="responseError['ac6']">
                <p [innerHTML]="responseError['ac6']">

                </p>
              </div>
            </div>
            <app-select [disabled]="!isEditMode" [selectedItemInit]="[formAc6.controls['max_km'].value + ' km', formAc6.controls['max_km'].value + ' km']" (selectedValueChange)="selectedRadiusChange($event)" class="userselect"
                        [options]="maxkm"></app-select>
            <div class="actions">
              <div class="edit">
                <button (click)="editMode('ac6')" class="button">Wijzig</button>
              </div>
              <div class="editting">
                <button (click)="cancelEditMode('ac6')" class="button">Annuleer</button>
                <button (click)="saveService('ac6')"  class="button">Opslaan</button>
              </div>
            </div>
          </div>
        </li>
        <li id="liac7" *ngIf="user.role === 'service' && user.service.length > 0">
          <div class="acHead" (click)="toggleAccOpened('ac7')">
            <span class="acIcon fas fa-dollar-sign"></span><span>Prijs instellingen</span>
          </div>
          <div class="acBody" id="ac7">
            <div class="has-error">
              <div *ngIf="responseError['ac7']">
                <p [innerHTML]="responseError['ac7']">

                </p>
              </div>
            </div>
            <form [formGroup]="formAc7">
            <div class="prices_extras" formArrayName="price_extras">
              <div *ngFor="let price_extra of formAc7.controls.price_extras.controls; let i=index">
                <div class="inputswrap price" [formGroupName]="i">
                  <app-price-extras (onRemovePriceExtra)="removePriceExtra($event)" [index]="i" [group]="formAc7.controls.price_extras.controls[i]" [disabled]="!editting"></app-price-extras>
                </div>

              </div>

            </div>
            <div>
              <button [disabled]="!editting" [class.disabled]="!editting" (click)="addPriceExtra()" class="button fullWidth"><span class="fas fa-plus"></span> Nieuwe prijsextra</button>
            </div>
            </form>
            <div class="actions">
              <div class="edit">
                <button (click)="editMode('ac7')" class="button">Wijzig</button>
              </div>
              <div class="editting">
                <button (click)="cancelEditMode('ac7')" class="button">Annuleer</button>
                <button (click)="saveService('ac7')"  [disabled]="!formAc7.valid" [class.disabled]="!formAc7.valid"  class="button">Opslaan</button>
              </div>
            </div>
          </div>
        </li>
        <li id="liac8" *ngIf="user.role === 'service' && user.service.length > 0">
          <div class="acHead" (click)="toggleAccOpened('ac8')">
            <span class="acIcon fas fa-search"></span><span>Keywoorden & Categorie</span>
          </div>
          <div class="acBody" id="ac8">
            <div class="has-error">
              <div *ngIf="responseError['ac8']">
                <p [innerHTML]="responseError['ac8']">

                </p>
              </div>
            </div>
            <p>Service categorie:</p>
            <app-select *ngIf="categories" (selectedValueChange)="changeCategory_id($event)" [disabled]="!editting"  class="userselect" [selectedItemInit]="selectedService.category_id ? [selectedService.category.name, selectedService.category.name] : ['Kies een categorie', -1]"  [options]="categories"></app-select>
            <p>Kies hier de keywoorden waarop je wilt gevonden worden. Let op je kan er maximuum 10 kiezen!</p>
            <app-tag-input [disabled]="!editting" [tagsin]="selectedService.tags" (tagRemoved)="removeTagsFromService($event)" (tagAdded)="addTagsToService($event)"></app-tag-input>
            <div class="actions">
              <div class="edit">
                <button (click)="editMode('ac8')" class="button">Wijzig</button>
              </div>
              <div class="editting">
                <button (click)="cancelEditMode('ac8')" class="button">Annuleer</button>
                <button (click)="saveService('ac8')"  class="button">Opslaan</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="profilePreview">

  </div>
  <app-media-modal *ngIf="showMedia" (closePopup)="closeMediaPop()" [show]="showMedia"></app-media-modal>
</div>
