@import '../../color';
.profilePreview{
  width:calc(100% - 320px);
  margin-left: auto;
}
.autoFillWrap{
  position: relative;
}
.profileEdit{
  height:calc(100vh - 60px);
  width:320px;
  overflow: auto;
  padding-bottom: 15px;
  position: fixed;
  background: #fff;

  border-left:1px solid $borderColor;
  border-right:1px solid $borderColor;

}
.heading{
  background: $backgroundColor;
  padding: 5px 0px;
}
#userProfileWrap{
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}
h2{
  margin: 0;
  padding:25px;
  font-weight: 200;
  background:$backgroundColor;
  margin-bottom: 5px;
}
.userselect{
  display: block;
  height:40px;
}
.imgUpload{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.addService{
  padding:20px;
}
